{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans 'Sign-in' %}
{% endblock %}

{% block header %}
{% include 'elems/header.html' %}
{% endblock %}

{% block main %}
<div class="wrap socialwrap">
    <div class="row-block social-row-block">
        <h1 class="custom_align-center">{% trans "Login Cancelled" %}</h1>
        {% url 'account_login' as login_url %}
        <p>{% trans 'You decided to cancel logging in to our site using one of your existing accounts. If this was a mistake, please proceed to' %}<a href="{{login_url}}">{% trans 'sign in' %}</a>.</p>
    </div>
</div>
{% endblock %}

{% block footer %}
{% include 'elems/footer.html' %}
{% endblock %}
