{% extends 'base.html' %}
{% load i18n %}
{%  load static %}
{% load account socialaccount %}
{% load goods_tags %}

{% block title %}{% trans 'Private Room' %}
{% endblock %}

{% block header %}
{% include 'elems/header.html' %}
{% endblock %}

{% block main %}
<div class="Middle Middle_top">
  <div class="Middle-top">
    <div class="wrap">
      <div class="Middle-header">
        <h1 class="Middle-title">{% trans 'Private Room' %}
        </h1>
        <ul class="breadcrumbs Middle-breadcrumbs">
          <li class="breadcrumbs-item"><a href="/">{% trans 'home' %}</a>
          </li>
          <li class="breadcrumbs-item breadcrumbs-item_current"><span>{% trans 'Private Room' %}</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="Section Section_column Section_columnLeft">
    <div class="wrap">
      <div class="Section-column">
        <div class="Section-columnSection">
          <header class="Section-header">
            <strong class="Section-title">{% trans 'Navigation' %}
            </strong>
          </header>
          <div class="Section-columnContent">
            <div class="NavigateProfile">
              <ul class="menu menu_vt">
                <li class="menu-item_ACTIVE menu-item"><a class="menu-link" href="{% url 'profiles-polls:private-room' %}">{% trans 'Account info' %}</a>
                </li>
                <li class="menu-item"><a class="menu-link" href="{% url 'profiles-polls:account-edit' %}">{% trans 'Profile' %}</a>
                </li>
                <li class="menu-item"><a class="menu-link" href="{% url 'orders-polls:history-order' %}">{% trans 'Orders history' %}</a>
                </li>
                <li class="menu-item"><a class="menu-link" href="{% url 'orders-polls:history-view' %}">{% trans 'Views history' %}</a>
                </li>
                {% if perms.profiles_app.Sellers %}
                <li class="menu-item"><a class="menu-link" href="{% url 'stores-polls:sellers-room' %}">{% trans 'Sellers room' %}</a>
                </li>
                {% endif %}
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="Section-content">
        <div class="Account">
          <div class="Account-group">
            <div class="Account-column">
              <figure class="figure-avatar">
                  <img class="Account-avatar-img" src="{{ request.user.avatar_url }}" alt="avatar.jpg" height="100%"/>
              </figure>
            </div>
            <div class="Account-column">
              <div class="Account-name">{{ request.user.last_name}} {{ request.user.first_name }}</div>
              <a class="Account-editLink" href="{%  url 'profiles-polls:account-edit' %}">{% trans 'Edit profile' %}</a>
            </div>
          </div>
          {% if last_order %}
          <div class="Account-group">
            <div class="Account-column Account-column_full">
              <div class="Order Order_anons">
                <div class="Order-personal">
                  <div class="row">
                    <div class="row-block">
                      <a class="Order-title" href="{% url 'orders-polls:history-order-detail' last_order.id %}">{% trans 'Order' %}&#32;
                        <span class="Order-numberOrder">№{{last_order.id}}</span>&#32;{% trans 'from' %}&#32;
                        <span class="Order-dateOrder">{{last_order.ordered|date:"d.m.o"}}</span>
                      </a>
                      <div class="Account-editLink">
                          <a href="{% url 'orders-polls:history-order' %}">{% trans 'Orders history' %}</a>
                      </div>
                    </div>
                    <div class="row-block">
                      <div class="Order-info Order-info_delivery">
                        <div class="Order-infoType">{% trans 'Type of delivery' %}:</div>
                        <div class="Order-infoContent">
                            {% if last_order.delivery == 'reg' %}
                              {% trans 'Regular delivery' %}
                            {% else %}
                                {% trans 'Express delivery' %}
                            {% endif %}
                        </div>
                      </div>
                      <div class="Order-info Order-info_pay">
                        <div class="Order-infoType">{% trans 'Payment method' %}:</div>
                        <div class="Order-infoContent">
                            {% if last_order.payment_method == 'card' %}
                              {% trans 'Card' %}
                            {% else %}
                                {% trans 'Cash' %}
                            {% endif %}
                        </div>
                      </div>
                    <div class="Order-info">
                      <div class="Order-infoType">{% trans 'Price' %}:
                      </div>
                      <div class="Order-infoContent"><span class="Order-price">{{ last_order.total_discounted_sum }}$</span><span class="Order-price_old">{{ last_order.total_sum }}$</span>
                      </div>
                    </div>
                      <div class="Order-info Order-info_status">
                        <div class="Order-infoType">{% trans 'Order Status' %}: </div>
                        <div class="Order-infoContent">
                        {% if last_order.paid %}
                            {% trans 'Paid' %}
                        {% else %}
                            {% trans 'Not paid' %}
                        {% endif %}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% endif %}
          {% if viewed_products %}
          <div class="Account-group">
            <div class="Account-column Account-column_full">
              <header class="Section-header">
                <h2 class="Section-title">{% trans 'Views history' %}
                </h2>
              </header>
              <div class="Cards Cards_account" style="position: relative;">
                {% cards viewed_products %}
                <div class="Account-editLink Account-editLink_view">
                  <a href="{% url 'orders-polls:history-view' %}">{% trans 'Show all viewed products' %}</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block footer %}
{% include 'elems/footer.html' %}
{% endblock %}