{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans 'Reset Password Error' %}
{% endblock %}

{% block header %}
{% include 'elems/header.html' %}
{% endblock %}

{% block main %}
<div class="wrap socialwrap">
    <div class="row-block social-row-block">
        <h1 class="custom_align-center">{% trans "Password Reset Error" %}</h1>

        {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
        {% else %}
            <p>{% blocktrans %}The user with this email is not registered.{% endblocktrans %}</p>
                            <div class="form-group custom_login_form-group-btns">
                        <div class="Profile-btn custom_align-center">
                            <a href="{% url 'users:register' %}" class="btn btn_success" type="submit">{% trans 'Register' %}</a>
                        </div>
                    </div>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block footer %}
{% include 'elems/footer.html' %}
{% endblock %}
