{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans 'Reset Password' %}
{% endblock %}

{% block header %}
{% include 'elems/header.html' %}
{% endblock %}

{% block main %}
<div class="Middle-top">
    <div class="wrap">
        <div class="Middle-header">
            <h1 class="Middle-title">{% trans 'Restore password' %}</h1>
            <ul class="breadcrumbs Middle-breadcrumbs">
                <li class="breadcrumbs-item"><a href="/">{% trans 'home' %}</a></li>
                <li class="breadcrumbs-item breadcrumbs-item_current"><span>{% trans 'Restore password' %}</span></li>
            </ul>
        </div>
    </div>
</div>
<div class="Section Section_column">
    <div class="wrap">
        <div class="Section-content">
            <div class="Profile custom_login">
                <form class="form Profile-form custom_login-form" method="post">
                    {% csrf_token %}
                    <div class="form-group custom_login_form-group">
                        <label class="form-label" for="email">{% trans 'Forgot your Account password?' %}</label>
                        <input class="form-input" id="email" name="email" type="email" required placeholder="{% trans 'Enter your E-mail address here' %}">
                    </div>
                    <div class="form-group custom_login_form-group-btns">
                        <div class="Profile-btn custom_login-btn custom_align-center">
                            <button class="btn btn_success custom_margin-bottom" type="submit">{% trans 'Send the mail about restore' %}</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}
{% include 'elems/footer.html' %}
{% endblock %}
