{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans 'Reset Password Done' %}
{% endblock %}

{% block header %}
{% include 'elems/header.html' %}
{% endblock %}

{% block main %}
<div class="wrap socialwrap">
    <div class="row-block social-row-block">
        <h1 class="custom_align-center">{% trans "Password Reset" %}</h1>

        {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
        {% else %}
            <p>{% blocktrans %}We have sent you an e-mail. If you have not received it please check your spam folder. Otherwise contact us if you do not receive it in a few minutes.{% endblocktrans %}</p>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block footer %}
{% include 'elems/footer.html' %}
{% endblock %}
