{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block title %}{% trans 'Private Room' %}
{% endblock %}

{% block header %}
{% include 'elems/header.html' %}
{% endblock %}

{% block main %}
<div class="Middle-top">
    <div class="wrap">
        <div class="Middle-header">
            <h1 class="Middle-title">{% trans 'Profile info' %}</h1>
            <ul class="breadcrumbs Middle-breadcrumbs">
                <li class="breadcrumbs-item"><a href="/">{% trans 'home' %}</a></li>
                <li class="breadcrumbs-item breadcrumbs-item_current"><span>{% trans 'Profile' %}</span></li>
            </ul>
        </div>
    </div>
</div>
<div class="Section Section_column">
    <div class="wrap">
        <div class="Section-column">
            <div class="Section-columnSection">
                <header class="Section-header">
                      <strong class="Section-title">{% trans 'Navigation' %}
                      </strong>
                </header>
                <div class="Section-columnContent">
                   <div class="NavigateProfile">
                        <ul class="menu menu_vt">
                            <li class="menu-item"><a class="menu-link" href="{% url 'profiles-polls:private-room' %}">{% trans 'Account info' %}</a>
                            </li>
                            <li class="menu-item_ACTIVE menu-item"><a class="menu-link" href="{% url 'profiles-polls:account-edit' %}">{% trans 'Profile' %}</a>
                            </li>
                            <li class="menu-item"><a class="menu-link" href="{% url 'orders-polls:history-order' %}">{% trans 'Orders history' %}</a>
                            </li>
                            <li class="menu-item"><a class="menu-link" href="{% url 'orders-polls:history-view' %}">{% trans 'Viewed products' %}</a>
                            </li>
                            {% if perms.profiles_app.Sellers %}
                            <li class="menu-item"><a class="menu-link" href="{% url 'stores-polls:sellers-room' %}">{% trans 'Sellers room' %}</a>
                            </li>
                            {% endif %}
                        </ul>
                   </div>
                </div>
            </div>
        </div>
        <div class="Section-content">
            <div class="Profile">
                <form class="form Profile-form" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                        <div class="row-block">
                            <div class="form-group">
                                <label class="form-label" for="avatar">{% trans 'Avatar' %}</label>
                                {% if request.user.avatar %}
                                <div class="Profile-avatar">
                                {% else %}
                                <div class="Profile-avatar Profile-avatar_noimg" >
                                {% endif %}
                                    <div class="Profile-img">
                                        {%  if request.user.avatar %}
                                            <img src="{{ request.user.avatar_url }}" alt="#.png">
                                        {% else %}
                                            <img src="assets/img/#.png" alt="#.png">
                                        {% endif %}
                                    </div>
                                    <span class="avatar-span">{% trans 'Click on picture for change' %}</span>
                                    <label class="Profile-fileLabel" for="avatar">{% trans 'Choose the picture' %}</label>
                                    <input class="Profile-file form-input" id="avatar" accept="image/*" name="avatar" type="file" data-validate="onlyImgAvatar">
                                </div>
                            </div>
                            <div class="name-block custom_register_name-block">
                                <div class="form-group custom_register_form-group">
                                    <label class="form-label" for="first_name">{% trans 'First name' %}</label>
                                    <input class="form-input" id="first_name" value="{{request.user.first_name|default_if_none:''}}" name="first_name" type="text">
                                </div>
                                <div class="custom_register_form-group">
                                    <label class="form-label" for="last_name">{% trans 'Last name' %}</label>
                                    <input class="form-input" id="last_name" value="{{request.user.last_name|default_if_none:''}}" name="last_name" type="text">
                                </div>
                            </div>
                        </div>
                        <div class="row-block">
                            <div class="form-group">
                                <label class="form-label" for="username">{% trans 'Username' %}</label>
                                <input class="form-input" id="username" value="{{request.user.username|default_if_none:''}}"  name="username" type="text">
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="password">{% trans 'Password*' %}</label>
                                <input class="form-input" id="password" name="new_password1" type="password">
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="passwordReply">{% trans 'Repeat password*' %}</label>
                                <input class="form-input" id="passwordReply" name="new_password2" type="password">
                            </div>
                            <div class="form-group require-field">
                                <label class="form-label" for="id_phone">{% trans 'Phone number*' %}</label>
                                <input class="form-input" id="id_phone" value="{{request.user.phone}}"  name="phone" required type="text">
                                <span class="formerror">{{form.errors.phone}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="row-block custom_register_name-block">
                        <div class="form-group custom_register_city-field">
                            <label class="form-label" for="city">{% trans 'City' %}</label>
                            <input class="form-input" id="city" value="{{request.user.city|default_if_none:''}}" name="city" type="text">
                            <span class="formerror">{{form.errors.city}}</span>
                        </div>
                        <div class="custom_register_address-field">
                            <label class="form-label" for="address">{% trans 'Address' %}</label>
                            <input class="form-input" id="address" value="{{request.user.address|default_if_none:''}}"  name="address" type="text">
                            <span class="formerror">{{form.errors.address}}</span>
                        </div>
                    </div>
                    <div class="form-group custom_register_form-btns">
                        <div class="Profile-btn custom_align-right">
                            <button class="btn btn_success" type="submit">{% trans 'Save changes' %}</button>
                        </div>
                    </div>
                    </div>
                </form>
                {% if messages %}
                    {% for message in messages %}
                        {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                        <div class="send-product-request" style="text-align: right;margin-top: 10px;">{{message}}</div>
                        {% endif %}
                    {%endfor %}
                {% endif %}
            </div>
        </div>
    </div>

</div>


{% endblock %}

{% block footer %}
{% include 'elems/footer.html' %}
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src="{% static 'assets/js/main.js' %}"></script>
{% endblock %}
