{% load socialaccount %}
{% load static %}
{% load i18n %}

{% get_providers as socialaccount_providers %}

{% for provider in socialaccount_providers %}
    <li class="provider-item" style="background-image: url('{{STATIC_URL}}/static/assets/img/icons/socialContent/{{provider.id}}.svg')">
     <a type="Submit" title="{{ provider.name }}" class="socialaccount_provider social-btn {{ provider.id }}"
         href="{% provider_login_url provider.id process=process scope=scope auth_params=auth_params %}">{% trans 'Sign-in with' %} {{ provider.name }}</a>
    </li>
{% endfor %}