{% load static %}
{% load i18n %}

<div id="cards_with_pagination">
    <div class="Cards" id="good_card">
        {% for elem in page_obj %}
        <div class="Card"><a class="Card-picture" href="#">
            <img src={% static "assets/img/content/home/card.jpg" %} alt="card.jpg"/></a>
            <div class="Card-content">
                <strong class="Card-title"><a href="product.html">{{ elem.product }}</a>
                </strong>
                <div class="Card-description">
                    <div class="Card-cost">

                        {% if elem.price_after_discount %}
                        <span class="Card-priceOld">{{ elem.price }}</span>
                        <span class="Card-price">{{ elem.price_after_discount }}</span>
                        {% else %}
                        <span class="Card-price">{{ elem.price }}</span>
                        {% endif %}

                    </div>
                    <div class="Card-category">{{category}}</div>
                    <div class="Card-hover">
                        <a class="Card-btn" href="#">
                            <img src={% static "assets/img/icons/card/bookmark.svg" %} alt="bookmark.svg"/>
                        </a>
                        <a class="Card-btn" href="{% url 'orders-polls:cart_add' elem.id %}">
                            <img src={% static "assets/img/icons/card/cart.svg" %} alt="cart.svg"/>
                        </a>
                        <a class="Card-btn" href="{% url 'orders-polls:add-to-compare' elem.id %}">
                            <img src={% static "assets/img/icons/card/change.svg" %} alt="change.svg"/>
                        </a>
                    </div>
                </div>
            </div>
            <div class="Card-sale">-60%</div>
        </div>
        {% endfor %}

    </div>
    <div class="Pagination" id="pagination">
        <div class="Pagination-ins">

            <a class="Pagination-element Pagination-element_prev" href="#" onclick="return false;"
               id="prevPage"
               data-slug={{ category.slug }}
               data-sort={{ sort_type }}
               data-page={{ prev_page }}
               data-name="prev">
                <img src={% static "assets/img/icons/prevPagination.svg" %} alt="prev"/>
            </a>

            {% for elem in pages_list %}
            {% if elem == 1 %}
            <a class="Pagination-element Pagination-element_current" href="#" onclick="return false;"
               data-slug={{ category.slug }}
               data-page={{ elem }}
               data-sort={{ sort_type }}
               data-name={{ elem }}>
                <span class="Pagination-text">{{ elem }}</span></a>
            {% else %}
            <a class="Pagination-element" href="#" onclick="return false;"
               data-slug={{ category.slug }}
               data-page={{ elem }}
               data-sort={{ sort_type }}
               data-name={{ elem }}>
                <span class="Pagination-text">{{ elem }}</span></a>
            {% endif %}
            {% endfor %}

            <a class="Pagination-element Pagination-element_next" href="#" onclick="return false;"
               id="nextPage"
               data-slug={{ category.slug }}
               data-page={{ next_page }}
               data-sort={{ sort_type }}
               data-name="next">

                <img src={% static "assets/img/icons/nextPagination.svg" %} alt="next"/>
            </a>

        </div>
    </div>
</div>



