{% load static %}
{% load i18n %}
{% load goods_tags %}


{% include 'elems/menu_head.html' %}
<div class="Header-searchWrap">
    <div class="wrap">
        <div class="Header-categories">
            <div class="CategoriesButton">
                <div class="CategoriesButton-title">
                    <div class="CategoriesButton-icon"><img src="{% static 'assets/img/icons/allDep.svg' %}"
                                                            alt="allDep.svg"/>
                    </div>
                    <span class="CategoriesButton-text">{% trans 'All Departments' %}</span>
                    <div class="CategoriesButton-arrow">
                    </div>
                </div>
                <div class="CategoriesButton-content">

<!--                    {% load mptt_tags %}-->
                    {% get_tree_dict as dict %}

                    {% for key, value in dict.items %}

                    <div class="CategoriesButton-link">
                        <a href="{% url 'goods-polls:catalog_url' %}?slug={{key.slug}}">
                            <div class="CategoriesButton-icon">
                                <img src="{{ key.icon_url }}" alt="image_category" style="width: 100%">
                            </div>
                            <span class="CategoriesButton-text">{{ key.name }}</span>
                        </a>

                        {% if value %}
                        <a class="CategoriesButton-arrow" href="#"></a>
                        <div class="CategoriesButton-submenu">
                            {% for elem in value %}


                            <a class="CategoriesButton-link"
                               href="{% url 'goods-polls:catalog_url' %}?slug={{elem.slug}}">
                                <div class="CategoriesButton-icon">
                                <img src="{{ elem.icon_url }}" alt="image_category" style="width: 100%">
                                </div>
                                <span class="CategoriesButton-text">{{ elem.name }}</span>
                            </a>


                            {% endfor %}
                        </div>
                        {% endif %}
                    </div>

                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="Header-searchLink"><img src="{% static 'assets/img/icons/search.svg' %}" alt="search.svg"/>
        </div>
        <div class="Header-search">
            <div class="search" id="search_div"
                 data-search_query={{ search }}>

                <form class="form form_search" action="{% url 'goods-polls:catalog_url' %}" method="get"
                      name="search_form">
                    <input class="search-input" id="query" name="query" type="text"
                           placeholder="What are you looking for ...">
                    <button class="search-button" type="submit" id="search_btn" onclick="return false;">
                        <img src="{% static 'assets/img/icons/search.svg' %}" alt="search.svg"/>
                        {% trans 'Search' %}
                    </button>
                </form>

            </div>
        </div>
    </div>
</div>