{% load static %}
{% load i18n %}

  <div class="Section">
    <div class="wrap">
      <div class="BannersHome">
          {% for category in random_categories %}
          <a class="BannersHomeBlock" href="{% url 'goods-polls:catalog_url' %}?slug={{category.slug}}">
            <div class="BannersHomeBlock-row">
            <div class="BannersHomeBlock-block">
              <strong class="BannersHomeBlock-title">{% if category.parent %}{{ category.parent }} / {% endif %}{{ category.name }}
              </strong>
              <div class="BannersHomeBlock-content">{% trans 'from' %}&#32;<span class="BannersHomeBlock-price">${{ category.from_price }}</span>
              </div>
            </div>
            <div class="BannersHomeBlock-block">
              <div class="BannersHomeBlock-img">
                <img src="{{ category.image_url }}" alt="card.jpg"/>
              </div>
            </div>
          </div>
          </a>
          {% endfor %}
      </div>
    </div>
  </div>
