{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block title %}
{% trans 'Catalog' %}
{% endblock %}

{% block header %}
{% include 'elems/header.html' %}
{% endblock %}

{% block main %}
<div class="Middle Middle_top">
    <div class="Middle-top">
        <div class="wrap">
            <div class="Middle-header">
                <h1 class="Middle-title">{% trans 'Catalog Megano' %}
                </h1>
                <ul class="breadcrumbs Middle-breadcrumbs">
                    <li class="breadcrumbs-item"><a href="{% url 'index_url' %}">{% trans 'home' %}</a>
                    </li>
                    <li class="breadcrumbs-item breadcrumbs-item_current"><span>{% trans 'Catalog' %}</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="Section Section_column Section_columnLeft">
        <div class="wrap">
            <div class="Section-column">
                <div class="Section-columnSection">
                    <header class="Section-header">
                        <strong class="Section-title">{% trans 'Filter' %}
                        </strong>
                    </header>
                    <div class="Section-columnContent">
                        <form class="form" action="{% url 'catalog_filter_url' category.slug sort_type 1 %}" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <div class="range Section-columnRange">
                                    <input class="range-line" id="price" name="price" type="text" data-type="double"
                                           data-min="{{ mini }}" data-max="{{ maxi }}" data-from="{{ min }}"
                                           data-to="{{  midi }}"/>
                                    <div class="range-price">{% trans 'Price:' %}&#32;
                                        <div class="rangePrice"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <input class="form-input form-input_full" id="title" name="title" type="text"
                                       placeholder="Название"/>
                            </div>
                            <div class="form-group">
                                <!-- - var options = setOptions(items, ['value', 'selected', 'disabled']);-->
                                <select class="form-select" name="select">
                                    <option value="seller" selected="selected" disabled="disabled">{% trans 'Seller:' %}
                                    </option>
                                    <option value="kkk">Kkkk</option>
                                    <option value="sdfsdf">sdfsdf</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="toggle">
                                    <input type="checkbox" name="ch_box_1"/>
                                    <span class="toggle-box"></span>
                                    <span class="toggle-text">{% trans 'Only items in stock:' %}</span>
                                </label>
                            </div>
                            <div class="form-group">
                                <label class="toggle">
                                    <input type="checkbox" name="ch_box_2"/>
                                    <span class="toggle-box"></span>
                                    <span class="toggle-text">{% trans 'With free shipping:' %}</span>
                                </label>
                            </div>
                            <div class="form-group">
                                <div class="buttons">
                                    <button class="btn btn_square btn_dark btn_narrow" type="submit">
                                        {% trans 'Filter' %}
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="Section-columnSection">
                    <header class="Section-header">
                        <strong class="Section-title">{% trans 'Popular tags' %}
                        </strong>
                    </header>
                    <div class="Section-columnContent">
                        <div class="buttons"><a class="btn btn_default btn_sm" href="#">{% trans 'Video' %}</a><a
                                class="btn btn_default btn_sm" href="#">{% trans 'Development' %}</a><a
                                class="btn btn_default btn_sm" href="#">{% trans 'Gaming' %}</a><a
                                class="btn btn_default btn_sm" href="#">{% trans 'Asus' %}</a><a
                                class="btn btn_default btn_sm" href="#">{% trans 'Development' %}</a><a
                                class="btn btn_default btn_sm" href="#">{% trans 'Video' %}</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="Section-content">
                <div class="Sort">
                    <div class="Sort-title">{% trans 'Sort by:' %}
                    </div>
                    <div class="Sort-variants">
                        <a class="Sort-sortBy Sort-sortBy_dec" href="#">{% trans 'Popularity'%}</a>
                        <a class="Sort-sortBy" href="{% url 'catalog_by_category_url' category.slug 'price_inc' 1 %}">
                            {% trans 'Price' %}
                        </a>
                        <a class="Sort-sortBy" href="{% url 'catalog_by_category_url' category.slug 'comment_inc' 1 %}">
                            {% trans 'Comments' %}
                        </a>
                        <a class="Sort-sortBy" href="{% url 'catalog_by_category_url' category.slug 'name_dec' 1 %}">
                            {% trans 'Name' %}
                        </a>
                    </div>
                </div>
                <div class="Cards">


                    {% for elem in page_obj %}
                    <div class="Card"><a class="Card-picture" href="#">
                        <img src={% static "assets/img/content/home/card.jpg" %} alt="card.jpg"/></a>
                        <div class="Card-content">
                            <strong class="Card-title"><a href="product.html">{{ elem.product }}</a>
                            </strong>
                            <div class="Card-description">
                                <div class="Card-cost"><span class="Card-priceOld">{{ elem.price }}</span><span
                                        class="Card-price">{{ elem.price_after_discount }}</span>
                                </div>
                                <div class="Card-category">{{category}}
                                </div>
                                <div class="Card-hover">
                                    <a class="Card-btn" href="#">
                                        <img src={% static "assets/img/icons/card/bookmark.svg" %} alt="bookmark.svg"/>
                                    </a>
                                    <a class="Card-btn" href="#">
                                        <img src={% static "assets/img/icons/card/cart.svg" %} alt="cart.svg"/>
                                    </a>
                                    <a class="Card-btn" href="#">
                                        <img src={% static "assets/img/icons/card/change.svg" %} alt="change.svg"/>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="Card-sale">-60%
                        </div>
                    </div>
                    {% endfor %}

                </div>
                <div class="Pagination">
                    <div class="Pagination-ins">

                        {% if page_obj.paginator.page.has_previous %}
                        <a class="Pagination-element Pagination-element_prev"
                           href="{% url 'catalog_by_category_url' category.slug sort_type page_obj.paginator.page.previous_page_number %}">
                            <img src={% static "assets/img/icons/prevPagination.svg" %} alt="prev"/>
                        </a>
                        {% else %}
                        <a class="Pagination-element Pagination-element_prev" href="1">
                            <img src={% static "assets/img/icons/prevPagination.svg" %} alt="prev"/>
                        </a>
                        {% endif %}

                        {% for page in page_obj.paginator.page_range %}
                        {% if page_obj.paginator.number == page %}
                        <a class="Pagination-element Pagination-element_current" href="{{ page }}">
                            <span class="Pagination-text">{{ page }}</span></a>
                        {% else %}
                        <a class="Pagination-element" href="{{ page }}">
                            <span class="Pagination-text">{{ page }}</span></a>
                        {% endif %}
                        {% endfor %}


                        {% if page_obj.paginator.page.has_next %}
                        <a class="Pagination-element Pagination-element_next"
                           href="{% url 'catalog_by_category_url' category.slug sort_type page_obj.paginator.page.next_page_number %}">
                            <img src={% static "assets/img/icons/prevPagination.svg" %} alt="prev"/>
                        </a>
                        {% else %}
                        <a class="Pagination-element Pagination-element_prev" href="{{ page_obj.paginator.num_pages }}">
                            <img src={% static "assets/img/icons/nextPagination.svg" %} alt="prev"/>
                        </a>
                        {% endif %}


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}
{% include 'elems/footer.html' %}
{% endblock %}