{% load static i18n %}

<div class="Section-columnSection Section-columnSection_mark">
  <header class="Section-columnHeader">
    <strong class="Section-columnTitle">{% trans 'Limited Deals' %}
    </strong>
  </header>
  <div class="Card"><a class="Card-picture" href="#"><img src="{% static 'assets/img/content/home/card.jpg' %}" alt="card.jpg"/></a>
    <div class="Card-content">
      <strong class="Card-title"><a href="#">{{ product }}</a>
      </strong>
      <div class="Card-description">
        <div class="Card-cost"><span class="Card-priceOld">{{ product.price}}</span><span class="Card-price">{{ product.price_after_}}</span>
        </div>
        <div class="Card-category">{{ product.category.name }}
        </div>
      </div>
      <div class="CountDown" data-date="31.09.2020 03:59">
        <div class="CountDown-block">
          <div class="CountDown-wrap">
            <div class="CountDown-days">
            </div><span class="CountDown-label">days</span>
          </div>
        </div>
        <div class="CountDown-block">
          <div class="CountDown-wrap">
            <div class="CountDown-hours">
            </div><span class="CountDown-label">hours</span>
          </div>
        </div>
        <div class="CountDown-block">
          <div class="CountDown-wrap">
            <div class="CountDown-minutes">
            </div><span class="CountDown-label">mins</span>
          </div>
        </div>
        <div class="CountDown-block">
          <div class="CountDown-wrap">
            <div class="CountDown-secs">
            </div><span class="CountDown-label">secs</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>