{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load account socialaccount %}

{% block title %}{% trans 'Product detail' %}
{% endblock %}

{% block top_scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/hogan.js/3.0.2/hogan.js"></script>
{% endblock %}

{% block header %}
{% include 'elems/header.html' %}
{% endblock %}

{% block main %}
<div class="Middle Middle_top">
    <div class="Middle-top">
        <div class="wrap">
            <div class="Middle-header">
                <h1 class="Middle-title">{{ product.name }}</h1>
                <ul class="breadcrumbs Middle-breadcrumbs">
                    <li class="breadcrumbs-item"><a href="/">{% trans 'home' %}</a></li>
                    <li class="breadcrumbs-item breadcrumbs-item_current"><span>{% trans 'Product Detail' %}</span></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="Section">
      <div class="wrap">
        <div class="Product">
          <div class="ProductCard">
            <div class="ProductCard-look">
              <div class="ProductCard-photo">
                <img src="{{ product.image_url }}" alt="product.jpg">
              </div>
{#              <div class="ProductCard-picts">#}
{#                  <a class="ProductCard-pict ProductCard-pict_ACTIVE" href="assets/img/content/home/bigGoods.png">#}
{#                      <img src="assets/img/content/home/bigGoods.png" alt="bigGoods.png">#}
{#                  </a>#}
{#              </div>#}
            </div>
            <div class="ProductCard-desc">
              <div class="ProductCard-header">
                <h2 class="ProductCard-title">{{ product.name }}</h2>
                <div class="ProductCard-info">
                  <div class="ProductCard-cost">
                      {% if avg_price == avg_price_after_discount %}
                    <div class="ProductCard-price">{{ avg_price }}
                    </div>
                      {% else %}
                    <div class="ProductCard-price">{{ avg_price_after_discount }}
                    </div>
                    <div class="ProductCard-priceOld">{{ avg_price }}
                    </div>
                      {% endif %}
                  </div>
                  <div class="ProductCard-compare">
                      <a class="btn btn_default" href="{% url 'orders-polls:add-to-compare' product.id %}">
                          <img class="btn-icon" src="{% static 'assets/img/icons/card/change.svg' %}" alt="change.svg">
                      </a>
                  </div>
                </div>
              </div>
              <div class="ProductCard-text">
                    {{ product.description|truncatechars:300 }}
              </div>
                <div class="ProductCard-cart">
                    {% if  best_offer.quantity > 0 and best_offer %}
                    <form style="display: flex; justify-content: space-evenly; width: 100%;" action="{% url 'orders:cart_add_many' product_id=best_offer.id %}" method="post">
                    {%  csrf_token %}
                        <div class="ProductCard-cartElement ProductCard-cartElement_amount">
                          <div class="Amount Amount_product">
                            <button class="Amount-remove" type="button">
                            </button>
                            <input class="Amount-input form-input" name="amount" type="text" value="1">
                            <button class="Amount-add" type="button">
                            </button>
                          </div>
                        </div>
                        <div class="ProductCard-cartElement">
                            <button type="submit" class="btn btn_primary">
                                <img class="btn-icon" src="{% static 'assets/img/icons/card/cart_white.svg' %}" alt="cart_white.svg"><span class="btn-content">{% trans 'Add To Cart' %}</span>
                            </button>
                        </div>
                    </form>
                </div>
                {% if messages %}
                    {% for message in messages %}
                        {% if message.level == SUCCESS_ADD_TO_CART %}
                        <div class="send-product-request" style="text-align: right; margin-top: 10px;">{{message}}</div>
                        {% elif message.level == ERROR_ADD_TO_CART %}
                        <div class="send-product-request" style="text-align: right; margin-top: 10px; color: red;">{{message}}</div>
                        {% endif %}
                    {%endfor %}
                {% endif %}
                {% else %}
                    <div class="ProductCard-cartElement" style="margin-left: 70%; font-size:20px; font-weight:bold; color: red;">{% trans 'Not in stock' %}</div>
                {% endif %}
              <div class="ProductCard-footer">
                <div class="ProductCard-tags">
                  <strong class="ProductCard-tagsTitle">{% trans 'Tags' %}:
                  </strong>
                    {% for tag in tags %}
                    <a href="{% url 'goods-polls:catalog_url' %}?main_tag={{tag.name}}">{{ tag }}</a>
                    {% endfor %}
                </div>
              </div>
            </div>
          </div>
          <div class="Tabs Tabs_default">
            <div class="Tabs-links">
                <a class="Tabs-link" href="#description"><span>{% trans 'Description' %}</span></a>
                <a class="Tabs-link" href="#sellers"><span>{% trans 'Stores' %}</span></a>
                <a class="Tabs-link" href="#addit"><span>{% trans 'Additional Info' %}</span></a>
                <a class="Tabs-link Tabs-link_ACTIVE" href="#reviews"><span>{% trans 'Reviews' %} (<span class="count_reviews">{{ reviews_count|default_if_none:"0" }}</span>)</span></a>
            </div>
            <div class="Tabs-wrap">
              <div class="Tabs-block" id="description" style="display: none;">
                    {{ product.description }}
                <div class="clearfix">
                </div>
                <div class="table">
                  <table>
                    <tbody><tr>
                      <th>{% trans 'Performance' %}
                      </th>
                      <th>{% trans 'Value' %}
                      </th>
                    </tr>
                    {% for spec in specifications %}
                    <tr>
                      <td>{{ spec.current_specification }}
                      </td>
                      <td>{{ spec.value }}
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody></table>
                </div>
              </div>
              <div class="Tabs-block" id="sellers" style="display: none;">
                <div class="Categories Categories_product">
                {% for item, price_after_discount, discount in sellers %}
                  <div class="Categories-row">
                    <div class="Categories-block Categories-block_info">
                      <div class="Categories-info">
                          <a href="{{ item.seller.get_absolute_url }}"><strong>{{ item.seller.name }}
                        </strong></a>
                      </div>
                    </div>
                    <div class="Categories-splitProps">
                    </div>
                    <div class="Categories-block Categories-price">
                      <strong>
                          {% if price_after_discount and not discount.set_discount %}
                              ${{ price_after_discount|floatformat:0 }}
                          {% else %}
                              ${{ item.price }}
                          {% endif %}
                      </strong>
                    </div>
                  {% if item.quantity > 0 %}
                    <div class="Categories-block Categories-button">
                        <a class="btn btn_primary" href="{% url 'orders-polls:cart_add' item.id %}"><img class="btn-icon" src="{% static 'assets/img/icons/card/cart_white.svg' %}" alt="cart_white.svg"><span class="btn-content">{% trans 'Add to cart' %}</span></a>
                    </div>
                  {% else %}
                      <div class="Categories-block Categories-button" style="justify-content: right; font-size:20px; font-weight:bold; color: red;">{% trans 'Not in stock' %}</div>
                  {% endif %}
                  </div>
                {% endfor %}
                </div>
              </div>
              <div class="Tabs-block" id="addit" style="display: none;">
                <div class="Product-props">
                  <div class="Product-prop">
                    В этом блоке можно разместить информацию о скидках или что-то еще
                  </div>
                </div>
              </div>
              <div class="Tabs-block" id="reviews" style="">
              {% if comments %}
                <header class="Section-header">
                  <h3 class="Section-title"><span class="count_reviews">{{ reviews_count|default_if_none:"0" }}</span>{% trans 'Review(s)' %}
                  </h3>
                </header>
              {% endif %}
              <form class="form" name="page-filter" action="{% url 'goods-polls:get_reviews' %}" method="get">
                <div class="Comments comments-js">
                  <div id="comments" class="Comments">
                    <input type="hidden" name="slug" value="{{ product.slug }}">
                  {% for comment in comments %}
                  <div class="Comment">
                    <div class="Comment-column Comment-column_pict">
                      <div class="Comment-avatar" style="background-image: url('{{ comment.user.avatar_url }}'); background-size: cover;">
                      </div>
                    </div>
                    <div class="Comment-column">
                      <header class="Comment-header">
                        <div>
                          <strong class="Comment-title">{{ comment.author }}
                          </strong><span class="Comment-date">{{ comment.added|date:"F / d / o G:i" }}</span>
                        </div>
                      </header>
                      <div class="Comment-content">{{ comment.content }}
                      </div>
                    </div>
                  </div>
                  {% endfor %}
                    </div>
                  {% if comments.paginator.num_pages > 1 %}
                    <button type="Submit" id="btn_page" class="btn btn_default btn_sm">
                    <select id="id_page" name="page" multiple>
                        {% if comments.has_previous %}
                        <option class="btn btn_default btn_sm" value="1">1</option>
                        <option class="btn btn_default btn_sm" value="{{ comments.previous_page_number }}">&laquo; </option>
                        {% endif %}
                        <option class="btn btn_default btn_sm active" value="{{ comments.number }}">{{ comments.number }}</option>
                        {% if comments.has_next %}
                        <option class="btn btn_default btn_sm" value="{{comments.next_page_number }}"> &raquo;</option>
                        <option class="btn btn_default btn_sm" value="{{ comments.paginator.num_pages }}"> &raquo;&raquo;</option>
                        {% endif %}
                    </select>
                      </button>
                  {% endif %}
                </div>
              </form>
                <header class="Section-header Section-header_product">
                  <h3 class="Section-title">{% trans 'Add Review' %}
                  </h3>
                </header>
                <div class="Tabs-addCommentreview-form ">
                {% if request.user.is_authenticated %}
                  <form class="form" id="comment-form" method="post">
                      {% csrf_token %}
                      <input type="hidden" name="user" value="{{ request.user.id }}">
                      {{ form.errors.user }}
                      <input type="hidden" name="product" value="{{ product.id }}">
                       <input id="id_slug_post" type="hidden" name="slug" value="{{ product.slug }}">
                      {{ form.errors.product }}
                    <div class="form-group">
                      <textarea class="form-textarea" name="content" id="content" required placeholder="Review" style="width: 1143px; height: 117px;"></textarea>
                        {{ form.errors.content }}
                    </div>
                    <div class="form-group">
                      <div class="row" style="margin-left: 0;">
                        <div class="row-block">
                          <input class="form-input" id="author" name="author" type="text" placeholder="Name" required>
                            {{ form.errors.author }}
                        </div>
                        <div class="row-block">
                          <input class="form-input" id="email" name="email" type="text" readonly value="{{ request.user.email }}" placeholder="Email">
                        </div>
                      </div>
                    </div>
                    <div class="form-group custom_register_name-block">
                      <button class="btn btn_muted" type="submit">{% trans 'Submit Review' %}
                      </button>
                      <div class="input-rating">
                          <span>{% trans 'Your Rating:' %} </span>
                          <div class="rating">
                              <input id="star5" name="rating" value="5" type="radio"><label for="star5">☆</label>
                              <input id="star4" name="rating" value="4" type="radio"><label for="star4">☆</label>
                              <input id="star3" name="rating" value="3" type="radio"><label for="star3">☆</label>
                              <input id="star2" name="rating" value="2" type="radio"><label for="star2">☆</label>
                              <input id="star1" name="rating" value="1" type="radio"><label for="star1">☆</label>
                          </div>
                      </div>
                    </div>
                  </form>
                  <div class="send-product-request" id="rating_error" style="color: red; text-align: right;">{{rating_error}}</div>
                  {% else %}
                  <div>{% trans 'Please' %} <a href="{% url 'profiles-polls:login' %}">{% trans 'sign-in' %}</a> {% trans 'or' %} <a
                          href="{% url 'profiles-polls:register' %}">{% trans 'registering' %}</a> {% trans 'for leave the comments on the site.' %}</div>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
{% endblock %}

{% block footer %}
{% include 'elems/footer.html' %}
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'assets/js/comments.js' %}"></script>
    <script>
      $(document).ready(function () {
          $('#comment-form').submit(function () {
              $.ajax({
                  data: $(this).serialize(),
                  type: 'post',
                  url: "{% url 'goods-polls:post_review' %}",
                  success: function (response) {
                     let error = document.querySelector('#rating_error')
                     let url = '{% url 'goods-polls:get_reviews' %}';
                     let page = response['num_pages']
                     let slug = response['slug']
                     let params = 'slug='+ slug.toString() + '&page=' + page.toString();
                     if (response['rating_error'] === undefined) {
                      $('#comment-form').trigger('reset');
                      error.innerHTML = "";
                      ajaxSend(url, params, html, target);
                      } else {
                      error.innerHTML = response['rating_error'];
                      }

                  },
                  error: function (response) {
                      alert('unknown error')
                  }
              });
              return false;
          });
      })
    </script>
{% endblock %}