{% extends 'base.html' %}
{% load static i18n %}
{% load cache %}

{% block title %}
  Megano
{% endblock %}

{% block header %}
    {% include 'elems/header.html' %}
{% endblock %}

{% block main %}
<div class="Middle Middle_top">
    <div class="Middle-top">
        <div class="wrap">
            <div class="Middle-header">
                <h1 class="Middle-title">{% trans 'Catalog Megano' %}</h1>
                <ul class="breadcrumbs Middle-breadcrumbs">
                    <li class="breadcrumbs-item"><a href="/">{% trans 'home' %}</a></li>
                    <li class="breadcrumbs-item breadcrumbs-item_current"><span>{% trans 'Catalog' %}</span></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="Section Section_column Section_columnLeft">
    <form class="form" action="{% url 'goods-polls:json-filter' %}" name="json-filter" method="get">
      <div class="wrap">
        <div class="Section-column">
          <div class="Section-columnSection">
            <header class="Section-header">
              <strong class="Section-title">{% trans 'Filter' %}
              </strong>
            </header>
            <div class="Section-columnContent">
                <div class="form-group">
                    <div class="range Section-columnRange">
                    <input class="range-line" id="price" name="price" type="text" data-type="double" data-min="1" data-max="50000" data-from="1" data-to="50000"/>
                    <div class="range-price">{% trans 'Price' %}:&#32;
                      <div class="rangePrice">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <input class="form-input form-input_full" id="title" name="title" type="text" placeholder="Название">
                </div>
                <div class="form-group">
                  <div class="form-selectWrap"><select class="form-select" name="seller">
                    <option value="" selected="selected" disabled="disabled">{% trans 'Select Store' %}</option>
                        {% for seller in sellers %}
                    <option value="{{ seller.name }}">{{ seller.name }}
                    </option>
                        {%  endfor %}
                  </select></div>
                </div>
                <div class="form-group">
                  <div class="form-selectWrap"><select class="form-select" name="category">
                    <option value="" selected="selected" disabled="disabled">{% trans 'Select Category' %}</option>
                    {% load mptt_tags %}
                    {% load categories_tag %}
                    {% get_tree_dict as dict %}
                    {% for key, value in dict.items %}
                     <option value="{{ key.name }}">{{ key.name }}
                     {% if value %}
                         {% for elem in value %}
                     <option value="{{ elem.name }}">{{ elem.name }}
                         {% endfor %}
                     {% endif %}

                    </option>
                    {% endfor %}
                  </select></div>
                </div>
                <div class="form-group">
                  <label class="toggle">
                    <input type="checkbox" name="in_stock"><span class="toggle-box"></span><span class="toggle-text">{% trans 'Only in stock' %}</span>
                  </label>
                </div>
                <div class="form-group">
                  <label class="toggle">
                    <input type="checkbox"><span class="toggle-box"></span><span class="toggle-text">{% trans 'Free delivery' %}</span>
                  </label>
                </div>
                <div class="form-group">
                  <div class="buttons"><button class="btn btn_square btn_dark btn_narrow" type="submit">{% trans 'Filter' %}</button>
                  </div>
                </div>

            </div>
          </div>
          <div class="Section-columnSection">
            <header class="Section-header">
              <strong class="Section-title">{% trans 'Popular tags' %}
              </strong>
            </header>
            <div class="Section-columnContent">
            <div class="buttons">
                  <button class="btn btn_default btn_sm" style="padding:0; margin: 0; border: none; border-radius:0; background-color: transparent;">
                <select name="tag" id="id_tags" multiple style="border: none; padding: 0; overflow-y: auto;">
              {% for tag in tags %}
                <option class="btn btn_default btn_sm" name="tag" value="{{ tag.name }}">
                    {{ tag }}</option>
              {% endfor %}
                </select>
              </button>
            </div>
              </div>
          </div>
        </div>
        <div class="Section-content">
          <div class="Sort">
            <div class="Sort-title">Sort by:</div>
            <div class="Sort-variants">
              <button class="Sort-sortBy" style="padding:0; margin: 0; border: none; border-radius:0; background-color: transparent;">
                  <label class="footer__checkbox flex" for="checkbox-1">{% trans 'Popular' %}
                      <input id="checkbox-1" type="checkbox">
                      <span class="spancheck" role="checkbox"></span>
                      <input id="popular_sort" type="hidden" name="popular_sort">
                      <script>
                          document.getElementById("checkbox-1").addEventListener('click', function (e){
                              let checkbox = document.getElementById('popular_sort')
                          if(e.target.checked) {
                                checkbox.value = '1';
                            }
                          else{
                                checkbox.value = '0';
                          }
                          })
                      </script>
                  </label>
              </button>
              <button class="Sort-sortBy" style="padding:0; margin: 0; border: none; border-radius:0; background-color: transparent;">
                  <label class="footer__checkbox flex" for="checkbox-2">{% trans 'Price' %}
                      <input id="checkbox-2" type="checkbox">
                      <span class="spancheck" role="checkbox"></span>
                      <input class="hidden-input" id="price_sort" type="hidden" name="price_after_discount">
                      <script>
                          document.getElementById("checkbox-2").addEventListener('click', function (e){
                              let checkbox = document.getElementById('price_sort')
                          if(e.target.checked) {
                                checkbox.value = '1';
                            }
                          else{
                                checkbox.value = '0';
                          }
                          })
                      </script>
                  </label>
              </button>
              <button class="Sort-sortBy" style="padding:0; margin: 0; border: none; border-radius:0; background-color: transparent;">
                  <label class="footer__checkbox flex" for="checkbox-3">{% trans 'Reviews count' %}
                      <input id="checkbox-3" type="checkbox">
                      <span class="spancheck" role="checkbox"></span>
                      <input class="hidden-input" id="reviews_sort" type="hidden" name="product__product_comments__count">
                      <script>
                          document.getElementById("checkbox-3").addEventListener('click', function (e){
                              let checkbox = document.getElementById('reviews_sort')
                          if(e.target.checked) {
                                checkbox.value = '1';
                            }
                          else{
                                checkbox.value = '0';
                          }
                          })
                      </script>
                  </label>
              </button>
              <button class="Sort-sortBy" style="padding:0; margin: 0; border: none; border-radius:0; background-color: transparent;">
                  <label class="footer__checkbox flex" for="checkbox-4">{% trans 'Newest' %}
                      <input id="checkbox-4" type="checkbox">
                      <span class="spancheck" role="checkbox"></span>
                      <input id="date_sort" type="hidden" name="date_added">
                      <script>
                          document.getElementById("checkbox-4").addEventListener('click', function (e){
                              let checkbox = document.getElementById('date_sort')
                          if(e.target.checked) {
                                checkbox.value = '1';
                            }
                          else{
                                checkbox.value = '0';
                          }
                          })
                      </script>
                  </label>
              </button>
            </div>
          </div>
          <div class="Cards product_js">
            <div class="Cards-wrap">
              {% for item in products %}
              <div class="Card"><a class="Card-picture" href="{{ item.product.get_absolute_url }}"><img src="{{ MEDIA_ROOT }}/uploads/{{ item.product.image }}" alt="card.jpg"></a>
                <div class="Card-content">
                  <strong class="Card-title">
                      <a href="{{ item.product.get_absolute_url }}">{{ item.product.name }}</a>
                  </strong>
                  <div class="Card-description">
                    <div class="Card-cost">
                        <span class="Card-priceOld">{{ item.price }}</span>
                        <span class="Card-price">{{ item.price_after_discount }}</span>
                    </div>
                    <div class="Card-category">{{ item.product.category }}
                    </div>
                    <div class="Card-hover">
                        <a class="Card-btn" href="{{ item.product.get_absolute_url }}"><img src="{% static 'assets/img/icons/card/bookmark.svg' %}" alt="bookmark.svg"></a>
                        <a class="Card-btn" href="{% url 'orders-polls:cart_add' item.id %}"><img src="{% static 'assets/img/icons/card/cart.svg' %}" alt="cart.svg"></a>
                        <a class="Card-btn" href="{% url 'orders-polls:add-to-compare' item.id %}"><img src="{%  static  'assets/img/icons/card/change.svg' %}" alt="change.svg"></a>
                    </div>
                  </div>
                </div>
                {% if item.discount.percent %}
                <div class="Card-sale">-{{ item.discount.percent }}%</div>
                {% else %}
                <div class="Card-sale">Hot deal</div>
                {% endif %}
              </div>
              {% endfor %}
            </div>
            <button id="btn_page" class="btn btn_default btn_sm">
            <select id="id_page" name="page" multiple>
            {% if has_previous %}
            <option class="btn btn_default btn_sm" name="page" value="1">1</option>
            <option class="btn btn_default btn_sm" name="page" value={{previous_page_number}}><<</option>
            {% endif %}
            <option class="btn btn_default btn_sm pagination" name="page" value={{number}} selected>{{number}}</option>
            {% if has_next %}
            <option class="btn btn_default btn_sm" name="page" value={{next_page_number}}>>></option>
            <option class="btn btn_default btn_sm" name="page" value={{num_pages}}>{{num_pages}}</option>
            {% endif %}
            </select>
            </button>
          </div>
        </div>
      </div>
    </form>
    </div>
  </div>
{% endblock %}

{% block footer %}
{% include 'elems/footer.html' %}
{% endblock %}

{% block scripts %}
        <script src="{% static 'assets/js/main.js' %}"></script>
{% endblock %}