{% extends 'base.html' %}
{% load static %}
{% load cache %}

{% block title %}
  Megano
{% endblock %}

{% block header %}
    {% include 'elems/header.html' %}
{% endblock %}

{% block main %}
<div class="Middle Middle_top">
    <div class="Middle-top">
      <div class="wrap">
        <div class="Middle-header">
          <h1 class="Middle-title">Catalog Megano
          </h1>
          <ul class="breadcrumbs Middle-breadcrumbs">
            <li class="breadcrumbs-item"><a href="index.html">home</a>
            </li>
            <li class="breadcrumbs-item breadcrumbs-item_current"><span>Catalog</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="Section Section_column Section_columnLeft">
      <div class="wrap">
        <div class="Section-column">
          <div class="Section-columnSection">
            <header class="Section-header">
              <strong class="Section-title">Filter
              </strong>
            </header>
            <div class="Section-columnContent">
              <form class="form" action="{% url 'goods-polls:json-filter' %}" name="json-filter" method="get">
                <div class="form-group">
                    <div class="range Section-columnRange">
                    <input class="range-line" id="price" name="price" type="text" data-type="double" data-min="1" data-max="500000" data-from="1" data-to="500000"/>
                    <div class="range-price">Price:&#32;
                      <div class="rangePrice">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <input class="form-input form-input_full" id="title" name="title" type="text" placeholder="Название">
                </div>
                <div class="form-group">
                  <!-- - var options = setOptions(items, ['value', 'selected', 'disabled']);-->
                  <div class="form-selectWrap"><select class="form-select" name="seller">
                    <option value="" selected="selected" disabled="disabled">Select Store</option>
                        {% for seller in sellers %}
                    <option value="{{ seller.name }}">{{ seller.name }}
                    </option>
                        {%  endfor %}
                  </select></div>
                </div>
                <div class="form-group">
                  <!-- - var options = setOptions(items, ['value', 'selected', 'disabled']);-->
                  <div class="form-selectWrap"><select class="form-select" name="category">
                    <option value="" selected="selected" disabled="disabled">Select Category</option>
                    {% load mptt_tags %}
                    {% load categories_tag %}
                    {% get_tree_dict as dict %}
                    {% for key, value in dict.items %}
                     <option value="{{ key.name }}">{{ key.name }}
                     {% if value %}
                         {% for elem in value %}
                     <option value="{{ elem.name }}">{{ elem.name }}
                         {% endfor %}
                     {% endif %}

                    </option>
                    {% endfor %}
                  </select></div>
                </div>
                <div class="form-group">
                  <label class="toggle">
                    <input type="checkbox" name="in_stock"><span class="toggle-box"></span><span class="toggle-text">Только товары в наличии</span>
                  </label>
                </div>
                <div class="form-group">
                  <label class="toggle">
                    <input type="checkbox"><span class="toggle-box"></span><span class="toggle-text">С бесплатной доставкой</span>
                  </label>
                </div>
                <div class="form-group">
                  <div class="buttons"><button class="btn btn_square btn_dark btn_narrow" type="submit">Filter</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="Section-columnSection">
            <header class="Section-header">
              <strong class="Section-title">Popular tags
              </strong>
            </header>
            <div class="Section-columnContent">
            <div class="buttons">
              {% for tag in tags %}
                  <a class="btn btn_default btn_sm" href="#">{{ tag }}</a>
              {% endfor %}
            </div>
            </div>
          </div>
        </div>
        <div class="Section-content">
          <div class="Sort">
            <div class="Sort-title">Сортировать по:
            </div>
            <div class="Sort-variants"><a class="Sort-sortBy Sort-sortBy_dec" href="#">Популярности</a><a class="Sort-sortBy" href="#">Цене</a><a class="Sort-sortBy" href="#">Отзывам</a><a class="Sort-sortBy Sort-sortBy_inc" href="#">Новизне</a>
            </div>
          </div>
          <div class="Cards product_js">
              {% for item in products %}
            <div class="Card"><a class="Card-picture" href="{{ item.product.get_absolute_url }}"><img src="{{ MEDIA_URL }}/uploads/{{ item.product.image }}" alt="card.jpg"></a>
              <div class="Card-content">
                <strong class="Card-title"><a href="product.html">{{ item.product.name }}</a>
                </strong>
                <div class="Card-description">
                  <div class="Card-cost"><span class="Card-priceOld">{{ item.price }}</span><span class="Card-price">{{ item.price_after_discount }}</span>
                  </div>
                  <div class="Card-category">{{ item.product.category }}
                  </div>
                  <div class="Card-hover"><a class="Card-btn" href="#"><img src="{% static 'assets/img/icons/card/bookmark.svg' %}" alt="bookmark.svg"></a><a class="Card-btn" href="{% url 'orders-polls:cart_add' item.id %}"><img src="{% static 'assets/img/icons/card/cart.svg' %}" alt="cart.svg"></a><a class="Card-btn" href="{% url 'orders-polls:add-to-compare' item.id %}"><img src="{%  static  'assets/img/icons/card/change.svg' %}" alt="change.svg"></a>
                  </div>
                </div>
              </div>
                {% if item.discount.percent %}
              <div class="Card-sale">-{{ item.discount.percent }}%
              </div>
                {% else %}
              <div class="Card-sale">Hot deal
              </div>
                {% endif %}
            </div>
           {% endfor %}
          </div>
{#          <div class="Pagination">#}
{#            <div class="Pagination-ins"><a class="Pagination-element Pagination-element_prev" href="#"><img src="assets/img/icons/prevPagination.svg" alt="prevPagination.svg"></a><a class="Pagination-element Pagination-element_current" href="#"><span class="Pagination-text">1</span></a><a class="Pagination-element" href="#"><span class="Pagination-text">2</span></a><a class="Pagination-element" href="#"><span class="Pagination-text">3</span></a><a class="Pagination-element Pagination-element_prev" href="#"><img src="assets/img/icons/nextPagination.svg" alt="nextPagination.svg"></a>#}
{#            </div>#}
{#          </div>#}
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block footer %}
{% include 'elems/footer.html' %}
{% endblock %}

{% block scripts %}
        <script src="{% static 'assets/js/main.js' %}"></script>
{% endblock %}