{% extends 'base.html ' %}
{% load i18n %}

{% block header %}
{% include 'elems/header.html' %}
{% endblock %}

{% block main %}
<div class="Middle-top">
    <div class="wrap">
        <div class="Middle-header">
            <h1 class="Middle-title">{% trans 'Registration new user' %}</h1>
            <ul class="breadcrumbs Middle-breadcrumbs">
                <li class="breadcrumbs-item"><a href="/">{% trans 'home' %}</a></li>
                <li class="breadcrumbs-item breadcrumbs-item_current"><span>{% trans 'Sign Up' %}</span></li>
            </ul>
        </div>
    </div>
</div>
<div class="Section Section_column">
    <div class="wrap">
        <div class="Section-content">
            <div class="Profile">
                <form class="form Profile-form" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                        <div class="row-block">
                            <div class="form-group">
                                <label class="form-label" for="id_avatar">{% trans 'Avatar' %}</label>
                                <div class="Profile-avatar Profile-avatar_noimg">
                                    <div class="Profile-img"><img src="assets/img/#.png" alt="#.png"></div>
                                    <label class="Profile-fileLabel" for="id_avatar">{% trans 'Choose the picture' %}</label>
                                    <input class="Profile-file form-input" id="id_avatar" name="avatar" type="file" data-validate="onlyImgAvatar">
                                </div>
                            </div>
                            <div class="name-block custom_register_name-block">
                                <div class="form-group custom_register_form-group">
                                    <label class="form-label" for="id_first_name">{% trans 'First name' %}</label>
                                    <input class="form-input" id="id_first_name" name="first_name" type="text" placeholder="{% trans 'Your first name' %}">
                                </div>
                                <div class="custom_register_form-group">
                                    <label class="form-label" for="id_lastname">{% trans 'Last name' %}</label>
                                    <input class="form-input" id="id_lastname" name="last_name" type="text" placeholder="{% trans 'Your last name' %}">
                                </div>
                            </div>
                        </div>
                        <div class="row-block">
                            <div class="form-group require-field">
                                <label class="form-label" for="id_email">Email*</label>
                                <input class="form-input" id="id_email" name="email" autofocus autocomplete="username" type="email" required placeholder="{% trans 'Your E-mail' %}">
                                <span class="formerror">{{form.errors.email}}</span>
                            </div>
                            <div class="form-group require-field">
                                <label class="form-label" for="password">{% trans 'Password*' %}</label>
                                <input class="form-input" id="password" name="password1" type="password" required placeholder="{% trans 'Password' %}">
                            </div>
                            <div class="form-group require-field">
                                <label class="form-label" for="passwordReply">{% trans 'Repeat password*' %}</label>
                                <input class="form-input" id="passwordReply" name="password2" type="password" required placeholder="{% trans 'Repeat password' %}">
                                <span class="formerror">{{form.errors.password2}}</span>
                            </div>
                            <div class="form-group require-field">
                                <label class="form-label" for="id_phone">{% trans 'Phone number*' %}</label>
                                <input class="form-input" id="id_phone" name="phone" type="text" required placeholder="{% trans 'Your phone number' %}">
                                <span class="formerror">{{form.errors.phone}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="row-block custom_register_name-block">
                        <div class="form-group custom_register_city-field">
                            <label class="form-label" for="id_city">City</label>
                            <input class="form-input" id="id_city" name="city" type="text" placeholder="{% trans 'Your city' %}">
                        </div>
                        <div class="custom_register_address-field">
                            <label class="form-label" for="id_address">{% trans 'Address' %}</label>
                            <input class="form-input" id="id_address" name="address" type="text" placeholder="{% trans 'Your address' %}">
                            <span class="helptext"></span>
                        </div>
                    </div>
                    <div class="form-group custom_register_form-btns">
                        <div class="Profile-btn custom_align-center">
                            <button class="btn btn_success custom_margin-bottom" type="submit">{% trans 'Accept and Register' %}</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}
{% include 'elems/footer.html' %}
{% endblock %}
