{% extends 'admin/base_site.html' %}
{% load i18n static %}

{% block title %}{% trans 'Site settings' %}{% endblock %}

{% block extrastyle %}{{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'assets\css\basic.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets\css\admin.css' %}">
{% endblock %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
        &rsaquo;
        <a href="{% url 'settings-polls:admin-setup' %}">{% trans 'Settnigs' %}</a>
    </div>
{% endblock %}

{% block content %}
<div class="module">
     <header>
        <h2>{% trans 'Site settings'%}</h2>
    </header>
    <div class="form-row" style="padding: 10px;">
        <p style="width: 300px; min-height: 42px; margin: 0; display: inline-block; font-size: 16px;">{% trans 'Regular shipping price' %}:</p> <span>${{ global_preferences.general__regular_shipping }}</span>
    </div>
    <div class="form-row" style="padding: 10px;">
        <p style="width: 300px; min-height: 42px; margin: 0; display: inline-block; font-size: 16px;">{% trans 'Express shipping price' %}: </p><span>${{ global_preferences.general__express_shipping }}</span>
    </div>
    <div class="form-row" style="padding: 10px;">
        <p style="width: 300px; min-height: 42px; margin: 0; display: inline-block; font-size: 16px;">{% trans 'Comments size page' %}:</p><span> {{ global_preferences.general__review_size_page }}</span>
    </div>
    <div class="form-row" style="padding: 10px;">
        <p style="width: 300px; min-height: 42px; margin: 0; display: inline-block; font-size: 16px;">{% trans 'Count popular products' %}:</p> <span>{{ global_preferences.general__count_popular_products }}</span>
    </div>
    <div class="form-row" style="padding: 10px;">
        <p style="width: 300px; min-height: 42px; margin: 0; display: inline-block; font-size: 16px;">{% trans 'Count limited products' %}:</p> <span>{{ global_preferences.general__count_limited_products }}</span>
    </div>
    <div class="form-row" style="padding: 10px;">
        <p style="width: 300px; min-height: 42px; margin: 0; display: inline-block; font-size: 16px;">{% trans 'Count hot offers' %}:</p> <span>{{ global_preferences.general__count_hot_offers }}</span>
    </div>
    <div class="form-row" style="padding: 10px;">
        <p style="width: 300px; min-height: 42px; margin: 0; display: inline-block; font-size: 16px;">{% trans 'Banners time expire' %}:</p> <span>{{ global_preferences.general__banners_time_expire }} {% trans 'min' %}</span>
    </div>
    <div class="form-row" style="padding: 10px;">
        <p style="width: 300px; min-height: 42px; margin: 0; display: inline-block; font-size: 16px;">{% trans 'Max size  for uploading files' %}:</p> <span>{{ global_preferences.general__max_size_file }} MB</span>
    </div>
    <div style="text-align: center;">
        <a class="btn btn_primary" href="{% url 'admin:dynamic_preferences_globalpreferencemodel_changelist' %}" style="margin: 30px 50px; color: white; font-size: 12px;">{% trans 'Change settings' %}</a>
    </div>
     <header>
        <h2>{% trans 'Limited products control'%}</h2>
    </header>
    <div class="form-row" style="padding: 10px;">
        <p style="width: 300px; min-height: 42px; margin: 0; display: inline-block; font-size: 16px;">{% trans 'Time update for limited deal' %}:</p>
        <span style="display: inline-block; width: 100px;">{{ global_preferences.general__time_update }}</span>
        <a class="btn btn_primary" href="{% url 'settings-polls:manual-change-product' %}" style="font-size:12px; color: white;">{% trans 'Manual update now' %}</a>
    </div>
    <div class="form-row" style="padding: 10px;">
        <p style="width: 300px; min-height: 42px; margin: 0; display: inline-block; font-size: 16px;">{% trans 'Frequency update limited deal' %}:</p>
        <span style="display: inline-block; width: 100px;"> {{ global_preferences.general__days_duration }} {% trans 'day(s)' %}</span>
        <a class="btn btn_primary" href="{% url 'settings-polls:manual-expire-change' %}" style="font-size:12px; color: white;">{% trans 'Manual continue expired' %}</a>
    </div>
    <div class="form-row" style="padding: 10px;">
        <span style="width: 300px; min-height: 42px; margin: 0; display: inline-block; font-size: 16px;">{% trans 'Set manual expire time for limited deal' %}:</span>
        <form action="{% url 'settings-polls:set-end-time' %}" method="get" style="display:flex;">
            <div style="margin: 0 20px;">
                <label for="id_date">{% trans 'Date' %}:</label>
                <input type="date" id="id_date" name="date" required>
            </div>
            <div style="margin: 0 20px;">
                <label for="id_time">{% trans 'Time' %}:</label>
                <input type="time" id="id_time" name="time" required>
            </div>
            <button type="submit" class="btn btn_primary" style="font-size:12px; color: white;">{% trans 'Apply' %}</button>
        </form>
    </div>
    <header>
        <h2>{% trans 'Cache Control' %}</h2>
    </header>
    <div class="block-cache">
        <span class="label-cache-btn" style="width: 300px; min-height: 42px; margin: 0; display: inline-block; font-size: 16px; text-align: right; margin-right: 20px;">{% trans 'Clear all site-cache' %}:</span>
        <a class="btn btn_primary clear-cache" href="{% url 'settings-polls:clear-all-cache' %}" style="font-size:12px; color: white;">{% trans 'Clear cache' %}</a>
    </div>
    <div class="block-cache">
        <span class="label-cache-btn" style="width: 300px; min-height: 42px; margin: 0; display: inline-block; font-size: 16px; text-align: right; margin-right: 20px;">{% trans 'Clear comments cache' %}:</span>
        <a class="btn btn_primary clear-cache" href="{% url 'settings-polls:clear-review-cache' %}" style="font-size:12px; color: white;">{% trans 'Clear cache' %}</a>
    </div>
    <div class="block-cache">
        <span class="label-cache-btn" style="width: 300px; min-height: 42px; margin: 0; display: inline-block; font-size: 16px; text-align: right; margin-right: 20px;">{% trans 'Clear catalogs cache' %}:</span>
        <a class="btn btn_primary clear-cache" href="{% url 'settings-polls:clear-catalog-cache' %}" style="font-size:12px; color: white;">{% trans 'Clear cache' %}</a>
    </div>
    <div class="block-cache">
        <span class="label-cache-btn" style="width: 300px; min-height: 42px; margin: 0; display: inline-block; font-size: 16px; text-align: right; margin-right: 20px;">{% trans 'Clear banner cache' %}:</span>
        <a class="btn btn_primary clear-cache" href="{% url 'settings-polls:clear-banner-cache' %}" style="font-size:12px; color: white;">{% trans 'Clear cache' %}</a>
    </div>
    <div class="block-cache">
        <span class="label-cache-btn" style="width: 300px; min-height: 42px; margin: 0; display: inline-block; font-size: 16px; text-align: right; margin-right: 20px;">{% trans 'Clear products cache' %}:</span>
        <a class="btn btn_primary clear-cache" href="{% url 'settings-polls:clear-detail-products-cache' %}" style="font-size:12px; color: white;">{% trans 'Clear cache' %}</a>
    </div>
    <div class="block-cache">
        <span class="label-cache-btn" style="width: 300px; min-height: 42px; margin: 0; display: inline-block; font-size: 16px; text-align: right; margin-right: 20px;">{% trans 'Clear sellers cache' %}:</span>
        <a class="btn btn_primary clear-cache" href="{% url 'settings-polls:clear-sellers-cache' %}" style="font-size:12px; color: white;">{% trans 'Clear cache' %}</a>
    </div>
    <div class="block-cache">
        <span class="label-cache-btn" style="width: 300px; min-height: 42px; margin: 0; display: inline-block; font-size: 16px; text-align: right; margin-right: 20px;">{% trans 'Clear main page products cache' %}:</span>
        <a class="btn btn_primary clear-cache" href="{% url 'settings-polls:clear-users-cache' %}" style="font-size:12px; color: white;">{% trans 'Clear cache' %}</a>
    </div>
</div>
{% endblock %}