{% extends 'admin/base_site.html' %}
{% load i18n static %}

{% block title %}{% trans 'Site settings' %}{% endblock %}

{% block extrastyle %}{{ block.super }}
    <link rel="stylesheet" href="{% static 'assets/css/basic.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/admin.css' %}">
{% endblock %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
        &rsaquo;
        <a href="{% url 'admin-setup' %}">{% trans 'Settnigs' %}</a>
    </div>
{% endblock %}

{% block content %}
<fieldset class="module">
     <header>
        <h2>{% trans 'Site settings'%}</h2>
    </header>
    <div class="form-row">
        <span>Regular shipping price: {{ global_preferences.general__regular_shipping }}</span>
    </div>
    <div class="form-row">
        <span>Express shipping price: {{ global_preferences.general__express_shipping }}</span>
    </div>
    <div class="form-row">
        <span>Comments size page: {{ global_preferences.general__review_size_page }}</span>
    </div>
    <div class="form-row">
        <span>Time update for limited deal: {{ global_preferences.general__time_update }}</span>
        <a class="btn btn_primary" href="{% url 'settings-polls:manual-change-product' %}">Manual update now</a>
    </div>
    <div class="form-row">
        <span>Frequency update limited deal: {{ global_preferences.general__days_duration }}</span>
        <a class="btn btn_primary" href="{% url 'settings-polls:manual-expire-change' %}">Manual continue limited deal expire</a>
    </div>
    <div class="form-row">
        <span>Set manual expire time for limited deal:</span>
        <form action="{% url 'settings-polls:set-end-time' %}" method="get">
            <label for="id_date">Date:</label>
            <input type="date" id="id_date" name="date" required>
            <label for="id_time">Time:</label>
            <input type="time" id="id_time" name="time" required>
            <button type="submit">Apply</button>
        </form>
    </div>
    <a class="btn btn_primary" href="{% url 'admin:dynamic_preferences_globalpreferencemodel_changelist' %}">Change settings</a>
    <header>
        <h2>{% trans 'Cache Control'%}</h2>
    </header>
    <div class="block-cache">
        <span class="label-cache-btn">Clear all site-cache:</span><a class="btn btn_primary clear-cache" href="{% url 'settings-polls:clear-all-cache' %}">{% trans 'Clear cache' %}</a>
    </div>
</fieldset>
{% endblock %}