{% extends "admin:admin/base.html" %}
{% load static i18n %}
{% load admin_tools_menu_tags %}

{% block extrahead %}
    <link rel="shortcut icon" href="{% static 'assets/img/icons/favicon.ico' %}" />
{% endblock %}
{% block extrastyle %}
    {{ block.super }}
    {% if user.is_active and user.is_staff and not is_popup %}{% admin_tools_render_menu_css %}{% endif %}
    <link rel="stylesheet" type="text/css" href="{% static "assets/css/admin.css" %}">
{% endblock %}
{% block branding %}
<a href="{% url 'admin:index' %}"><h1 id="site-name"
    style="width: 400%;
        background: url('{% static '/assets/img/logo.png' %}');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center right;
        margin-left: 20px;
        border-radius: 0;">
   </h1></a>
<style>
#header {
    background: linear-gradient(-10deg, #0065d1, #cacaca);
}
</style>
{% endblock %}

{% block nav-global %}
    {{ block.super }}
    {% if user.is_active and user.is_staff and not is_popup %}{% admin_tools_render_menu %}{% endif %}
{% endblock %}


