/* custom styles for all */
.custom_align-center {
    text-align: center;
}

.reset-margin {
margin-top: 0;}

.custom_align-right {
    text-align: right;
}

.helptext {
    display: flex;
    justify-content: flex-end;
}

.require-field input {
    border: 1px solid #0063d1 !important;
}

.require-field label {
    color: #0063d1;
}

.helpspan {
    margin-top: 20px;
    margin-left: 20px;
}

/* login.html */
/* restore_password.html */
.custom_login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.custom_login_form-group {
    width: 50%;
}

.custom_login_form-group-btns {
    width: 100%;
    margin-top: 30px;
}

.custom_login_btn-success {
    margin-right: 50px;
}

.custom_margin-bottom {
    margin-bottom: 300px;
}

/* register.html */

.custom_register_name-block {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.custom_register_form-group {
    width: 47%;
    margin-top: 26.3px;
}

.custom_register_form-btns {
    margin-top: 70px;
}

.custom_register_city-field {
    width: 23%;
}

.custom_register_address-field {
    width: 74%;
    min-width: 400px;
}

.block-social-btn {
    display: flex;
    justify-content: center;
}

.social-btn {
    display: block;
    text-align: center;
    width: 360px;
    color: #71747a;
    padding: 20px 0;
    border-radius: 100px;
    border: 1px solid #71747a;
    transition: border-color 0.4s ease;
    transition: color 0.4s ease;
}

.social-btn:hover {
    border-color: #0063d1;
    color: #0063d1;
}

.provider-item {
    background-position: left center;
    background-repeat: no-repeat;
    margin-bottom: 15px;
}

.provider-item:last-child {
    margin-bottom: 0;
}

.socialwrap {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 300px;
}

.social-row-block {
    padding: 50px 100px;
    text-align: center;
    max-width: 1000px;
    border: 1px solid grey;
}

.social-accept-text {
    font-size: 20px;
    margin-bottom: 80px;
}

.formerror {
    color: red;
    }

.form input {
    width: 100%;
    box-sizing: border-box;
    padding: 5px 25px;
    border-radius: 0px;
    border: 1px solid #e0e0e0;
    font-size: 18px;
    background-color: #f9fafc;
    line-height: 46px;
}

.Seller-wrap {
    display: flex;
    flex-wrap: wrap;
    max-width: 1220px;
    min-height: 200px;
}

.seller-item {
    width: 380px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 200px;
    padding: 20px;
    border: 1px solid #e0e0e0;
    margin-right: 20px;
    margin-bottom: 30px;
    transition: border 0.3s ease;
}

.seller-item img {
    max-width: 200px;
    height: 100px;
    align-self: center;
    object-fit: cover;
}

.Add-seller {
    display: block;
    width: 200px;
    margin-right: 0;
    position: relative;
    transition: border 0.3s ease;
}

.seller-text {
    font-size: 16px;
    font-weight: 800;
    color: #cacaca;
    position: absolute;
    left: 47px;
    bottom: 22px;
    transition: color 0.3s ease;
}

.Add-seller svg path{
    transition: fill 0.3s ease;
 }

.seller-item:focus,
.seller-item:hover,
.Add-seller:focus,
.Add-seller:hover {
    border: 1px solid #3cb878;
}

.seller-item:active,
.Add-seller:active {
    border: 1px solid #0065D1;
}

.seller-item:focus h3,
.seller-item:hover h3,
.Add-seller:focus span,
.Add-seller:hover span {
    color: #3cb878;
}

.seller-item:active h3,
.Add-seller:active span {
    color: #0065D1;
}

.Add-seller:focus svg path:not(:nth-child(3n)),
.Add-seller:hover svg path:not(:nth-child(3n)){
    fill: #2C2F33;
 }

.Add-seller:focus svg path:nth-child(3n),
.Add-seller:hover svg path:nth-child(3n){
    fill: #3cb878;
 }

.Add-seller:active svg path:not(:nth-child(3n)),
.Add-seller:active svg path:nth-child(3n){
    fill: #0065D1;
}

.store-img {
    position: relative;
}

.store-logo {
    border: 1px solid #e0e0e0;
    height: 10px;
}

.form-area {
    width: 100%;
}
