/* custom styles for all */
.custom_align-center {
    text-align: center;
}

.helptext {
    display: flex;
    justify-content: flex-end;
}

.require-field input {
    border: 1px solid #0063d1 !important;
}

.require-field label {
    color: #0063d1;
}

.helpspan {
    margin-top: 20px;
    margin-left: 20px;
}

/* login.html */
/* restore_password.html */
.custom_login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.custom_login_form-group {
    width: 50%;
}

.custom_login_form-group-btns {
    width: 100%;
    margin-top: 30px;
}

.custom_login_btn-success {
    margin-right: 50px;
}

.custom_margin-bottom {
    margin-bottom: 300px;
}

/* register.html */

.custom_register_name-block {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.custom_register_form-group {
    width: 47%;
    margin-top: 26.3px;
}

.custom_register_form-btns {
    margin-top: 70px;
}

.custom_register_city-field {
    width: 23%;
}

.custom_register_address-field {
    width: 74%;
    min-width: 400px;
}

.block-social-btn {
    display: flex;
    justify-content: center;
}

.social-btn {
    display: block;
    text-align: center;
    width: 360px;
    color: #71747a;
    padding: 20px 0;
    border-radius: 100px;
    border: 1px solid #71747a;
    transition: border-color 0.4s ease;
    transition: color 0.4s ease;
}

.social-btn:hover {
    border-color: #0063d1;
    color: #0063d1;
}

.provider-item {
    background-position: left center;
    background-repeat: no-repeat;
    margin-bottom: 15px;
}

.provider-item:last-child {
    margin-bottom: 0;
}

.socialwrap {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 300px;
}

.social-row-block {
    padding: 50px 100px;
    text-align: center;
    max-width: 1000px;
    border: 1px solid grey;
}

.social-accept-text {
    font-size: 20px;
    margin-bottom: 80px;
}

.formerror {
    color: red;
    }

.form input {
    width: 100%;
    box-sizing: border-box;
    padding: 5px 25px;
    border-radius: 0px;
    border: 1px solid #e0e0e0;
    font-size: 18px;
    background-color: #f9fafc;
    line-height: 46px;
}