{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block title %}{% trans 'Add Product in Store' %}
{% endblock %}


{% block top_scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/hogan.js/3.0.2/hogan.js"></script>
{% endblock %}

{% block header %}
{% include 'elems/header.html' %}
{% endblock %}

{% block main %}
<div class="Middle-top">
    <div class="wrap">
        <div class="Middle-header">
            <h1 class="Middle-title">{% trans 'Add Product in Store' %}</h1>
            <ul class="breadcrumbs Middle-breadcrumbs">
                <li class="breadcrumbs-item"><a href="/">{% trans 'home' %}</a></li>
                <li class="breadcrumbs-item breadcrumbs-item_current"><span>{% trans 'Sellers Room' %}</span></li>
            </ul>
        </div>
    </div>
</div>
<div class="Section Section_column Section_columnLeft">
  <div class="wrap">
      <div class="Section-column">
          <div class="Section-columnSection">
              <header class="Section-header">
                  <strong class="Section-title">{% trans 'Navigation' %}
                  </strong>
              </header>
              <div class="Section-columnContent">
                  <div class="NavigateProfile">
                      <ul class="menu menu_vt">
                          <li class="menu-item"><a class="menu-link" href="{% url 'profiles-polls:private-room' %}">{% trans 'Account info' %}</a>
                          </li>
                          <li class="menu-item"><a class="menu-link" href="{% url 'profiles-polls:account-edit' %}">{% trans 'Profile' %}</a>
                          </li>
                          <li class="menu-item"><a class="menu-link" href="{% url 'orders-polls:history-order' %}">{% trans 'Orders history' %}</a>
                          </li>
                          <li class="menu-item"><a class="menu-link" href="{% url 'orders-polls:history-view' %}">{% trans 'Viewed products' %}</a>
                          </li>
                          <li class="menu-item_ACTIVE menu-item"><a class="menu-link" href="{% url 'stores-polls:sellers-room' %}">{% trans 'Sellers room' %}</a>
                          </li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
      <div class="Section-content">
          <div class="Profile">
              <form class="category-form" name="category-filter" id="id_add_product" method="GET" action="{% url 'stores-polls:category-filter' %}">
                    <label class="form-label" style ="font-size: 20px;" for="id_category">{% trans 'Choose Category Product' %}:</label>
                    <select class="form-area" name="category_id" required="" id="id_category">
                        <option value="" selected="">---------</option>
                        {% for category in categories %}
                        <option value="{{ category.id }}">{{ category.name|capfirst }}</option>
                        {%  endfor %}
                    </select>
              </form>
              <form class="form Profile-form" method="post" enctype="multipart/form-data">
                  {% csrf_token %}
                  <div class="row flex column-direction">
                      <div class="row-block">
                          <div class="form-group require-field product_js"></div>
                          <div class="form-group require-field">
                              <label class="form-label" for="id_seller">{% trans 'Choose store' %}</label>
                              <select class="form-area" name="seller" required="" id="id_seller">
                                  <option value="" selected="">---------</option>
                                  {% for store in stores %}
                                  <option value="{{ store.id }}">{{ store.name }}</option>
                                  {% endfor %}
                              </select>
                              <span class="formerror">{{form.errors.seller}}</span>
                          </div>

                      </div>
                  </div>
                  <div class="row flex block-input-numbers">
                      <div class="row-block">
                          <div class="form-group reset-margin require-field">
                              <label class="form-label" for="id_quantity">{% trans 'Quantity' %}:
                              </label>
                              <input class="form-input" type="number" name="quantity" required id="id_quantity">
                          </div>
                      </div>
                      <div class="row-block">
                          <div class="form-group require-field">
                              <label class="form-label" for="id_price">{% trans 'Price' %}:</label>
                              <input class="form-input" id="id_price" name="price" type="number" required step="1.00">
                              <span class="formerror">{{form.errors.price}}</span>
                          </div>
                      </div>
                  </div>
                  <div class="row-block flex custom_register_name-block">
                      <div class="form-group custom_login_form-group-btns">
                          <div class="Profile-btn custom_align-center custom_margin-bottom">
                              <a class="btn btn_success" href="{% url 'stores-polls:sellers-room' %}">{%  trans 'Back to seller room' %}</a>
                              <button class="btn btn_success" type="submit">{% trans 'Add product' %}</button>
                              <a href="{% url 'stores-polls:request-new-product' %}" class="btn btn_success">Request for new product</a>
                          </div>
                      </div>
                  </div>
              </form>
          </div>
          {% if messages %}
            {% for message in messages %}
                {% if message.level == CREATE_PRODUCT_ERROR %}
                <div style="position: absolute; color: red; top:500px;">{{message}}</div>
                {% endif %}
            {%endfor %}
          {% endif %}
      </div>
  </div>
</div>

{% endblock %}

{% block footer %}
{% include 'elems/footer.html' %}
{% endblock %}

{% block scripts %}
    <script src="{% static 'assets/js/main.js' %}"></script>
{% endblock %}
