{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load account socialaccount %}
{% load goods_tags %}

{% block title %}{% trans 'Sellers Room' %}
{% endblock %}

{% block header %}
{% include 'elems/header.html' %}
{% endblock %}

{% block main %}
    <div class="Middle Middle_top">
        <div class="Middle-top">
            <div class="wrap">
                <div class="Middle-header">
                    <h1 class="Middle-title">{% trans 'Sellers Room' %}</h1>
                    <ul class="breadcrumbs Middle-breadcrumbs">
                        <li class="breadcrumbs-item"><a href="/">{% trans 'home' %}</a></li>
                        <li class="breadcrumbs-item breadcrumbs-item_current"><span>{% trans 'Sellers Room' %}</span></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="Section Section_column Section_columnLeft">
            <div class="wrap">
                <div class="Section-column">
                    <div class="Section-columnSection">
                        <header class="Section-header"><strong class="Section-title">{% trans 'Navigation' %}</strong></header>
                        <div class="Section-columnContent">
                            <div class="NavigateProfile">
                                <ul class="menu menu_vt">
                                    <li class="menu-item"><a class="menu-link" href="{% url 'profiles-polls:private-room' %}">{% trans 'Account info' %}</a>
                                    </li>
                                    <li class="menu-item"><a class="menu-link" href="{% url 'profiles-polls:account-edit' %}">{% trans 'Profile' %}</a>
                                    </li>
                                    <li class="menu-item"><a class="menu-link" href="{% url 'orders-polls:history-order' %}">{% trans 'Orders history' %}</a>
                                    </li>
                                    <li class="menu-item"><a class="menu-link" href="{% url 'orders-polls:history-view' %}">{% trans 'Views history' %}</a>
                                    </li>
                                    {% if perms.profiles_app.Sellers %}
                                    <li class="menu-item_ACTIVE menu-item"><a class="menu-link" href="{% url 'stores-polls:sellers-room' %}">{% trans 'Sellers room' %}</a>
                                    </li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="Section-content">
                    <header class="Section-header reset-margin">
                        <h2 class="Section-title">{% trans 'Your Stores' %}
                        </h2>
                    </header>
                        {% if messages %}
                            {% for message in messages %}
                                {% if message.level == SEND_PRODUCT_REQUEST %}
                                <div class="send-product-request">{{message}}</div>
                                {% elif message.level == SUCCESS_DEL_STORE %}
                                <div class="delete-product-success">{{message}}</div>
                                {% elif message.level == SUCCESS_DEL_PRODUCT %}
                                <div class="delete-product-success">{{message}}</div>
                                {% elif message.level == SUCCESS_DEL_GROUP_DISCOUNT %}
                                <div class="delete-product-success">{{message}}</div>
                                {% elif message.level == SUCCESS_DEL_CART_DISCOUNT %}
                                <div class="delete-product-success">{{message}}</div>
                                {% endif %}
                            {%endfor %}
                        {% endif %}
                        {% for store in stores %}
                            <div class="Seller-wrap" style="justify-content: center;">
                                <div class="store">
                                    <a href="{% url 'stores-polls:store-detail' store.slug %}" class="seller-item">
                                        <img src="{{ store.icon_url }}" alt="store-icon" class="seller-icon">
                                        <h3 class="seller-title custom_align-center">{{ store.name }}</h3>
                                        <i class="fa-duotone fa-trash-slash"></i>
                                    </a>
                                    <form action="{% url 'stores-polls:delete-store' %}" method="get">
                                        <input type="hidden" name="id" value="{{ store.slug }}">
                                        <button type="Submit" class="delete-btn bth-width-store" title="Delete this store">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                                <path d="M135.2 17.69C140.6 6.848 151.7 0 163.8 0H284.2C296.3 0 307.4 6.848 312.8 17.69L320 32H416C433.7 32 448 46.33 448 64C448 81.67 433.7 96 416 96H32C14.33 96 0 81.67 0 64C0 46.33 14.33 32 32 32H128L135.2 17.69zM394.8 466.1C393.2 492.3 372.3 512 346.9 512H101.1C75.75 512 54.77 492.3 53.19 466.1L31.1 128H416L394.8 466.1z"/>
                                            </svg>
                                        </button>
                                        <a class="edit-btn bth-width-store" href="{% url 'stores-polls:edit-store' store.slug %}" title="Edit Store">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                                <path d="M362.7 19.32C387.7-5.678 428.3-5.678 453.3 19.32L492.7 58.75C517.7 83.74 517.7 124.3 492.7 149.3L444.3 197.7L314.3 67.72L362.7 19.32zM421.7 220.3L188.5 453.4C178.1 463.8 165.2 471.5 151.1 475.6L30.77 511C22.35 513.5 13.24 511.2 7.03 504.1C.8198 498.8-1.502 489.7 .976 481.2L36.37 360.9C40.53 346.8 48.16 333.9 58.57 323.5L291.7 90.34L421.7 220.3z"/>
                                            </svg>
                                        </a>
                                    </form>
                                </div>
                        {% endfor %}
                        <a href="{% url 'stores:add-store' %}" class="seller-item Add-seller">
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                     viewBox="0 0 488.8 488.8" style="enable-background:new 0 0 488.8 488.8;" xml:space="preserve">
                                <path d="M488.8,383V9.9c0-5.5-4.4-9.9-9.9-9.9H105.8c-5.5,0-9.9,4.4-9.9,9.9V383c0,5.5,4.4,9.9,9.9,9.9
                                    h373.1C484.4,392.9,488.8,388.5,488.8,383z M469,373.1H115.7V19.8H469V373.1L469,373.1z" fill="gray"/>
                                <path d="M9.9,488.8H383c5.5,0,9.9-4.4,9.9-9.9s-4.4-9.9-9.9-9.9H19.8V105.8c0-5.5-4.4-9.9-9.9-9.9
                                    S0,100.3,0,105.8v373.1C0,484.4,4.4,488.8,9.9,488.8z" fill="gray"/>
                                <path d="M211.8,206.3h70.7V277c0,5.5,4.4,9.9,9.9,9.9s9.9-4.4,9.9-9.9v-70.7H373c5.5,0,9.9-4.4,9.9-9.9
                                    s-4.4-9.9-9.9-9.9h-70.7v-70.7c0-5.5-4.4-9.9-9.9-9.9s-9.9,4.4-9.9,9.9v70.7h-70.7c-5.5,0-9.9,4.4-9.9,9.9
                                    S206.3,206.3,211.8,206.3z" fill="#CACACA"/>
                            </svg>
                            <span class="seller-text">{% trans 'ADD NEW STORE' %}</span>
                        </a>
                        <a href = "{% url 'stores-polls:import' %}" class="seller-item Add-seller">
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                     viewBox="0 0 488.8 488.8" style="enable-background:new 0 0 488.8 488.8;" xml:space="preserve">
                                <path d="M488.8,383V9.9c0-5.5-4.4-9.9-9.9-9.9H105.8c-5.5,0-9.9,4.4-9.9,9.9V383c0,5.5,4.4,9.9,9.9,9.9
                                    h373.1C484.4,392.9,488.8,388.5,488.8,383z M469,373.1H115.7V19.8H469V373.1L469,373.1z" fill="gray"/>
                                <path d="M9.9,488.8H383c5.5,0,9.9-4.4,9.9-9.9s-4.4-9.9-9.9-9.9H19.8V105.8c0-5.5-4.4-9.9-9.9-9.9
                                    S0,100.3,0,105.8v373.1C0,484.4,4.4,488.8,9.9,488.8z" fill="gray"/>
                                <path d="M211.8,206.3h70.7V277c0,5.5,4.4,9.9,9.9,9.9s9.9-4.4,9.9-9.9v-70.7H373c5.5,0,9.9-4.4,9.9-9.9
                                    s-4.4-9.9-9.9-9.9h-70.7v-70.7c0-5.5-4.4-9.9-9.9-9.9s-9.9,4.4-9.9,9.9v70.7h-70.7c-5.5,0-9.9,4.4-9.9,9.9
                                    S206.3,206.3,211.8,206.3z" fill="#CACACA"/>
                            </svg>
                            <span class="seller-text">{% trans 'IMPORT' %}</span>
                        </a>

                    </div>
                    {% if stores %}
                        <div class="Account-group">
                            <div class="Account-column Account-column_full">
                                <header class="Section-header">
                                    <h2 class="Section-title">{% trans 'Your Products' %}</h2>
                                </header>
                                <div class="Cards Cards_account" style="position: relative;">
                                    {% cards seller_products seller_perm=True %}
                                <div class="Account-editLink Account-editLink_view"><a href="{% url 'stores-polls:all-products-list' %}">{% trans 'Show all your products' %}</a></div>
                                <div class="Card" style="border: none; display: flex; justify-content: center; align-content: center;">
                                    <a href="{% url 'stores-polls:add-store-product' %}" class="btn-reset seller-item Add-seller reset-margin">
                                        <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                   viewBox="0 0 55 55" style="enable-background:new 0 0 55 55;" xml:space="preserve">
                                            <path d="M49,8.5v-8H0v47h7v7h48v-46H49z M2,45.5v-43h45v6H7v37H2z M53,52.5H9v-5v-37h40h4V52.5z" fill="gray"/>
                                            <path d="M49,8.5v-8H0v47h7v7h48v-46H49z M2,45.5v-43h45v6H7v37H2z M53,52.5H9v-5v-37h40h4V52.5z" fill="gray"/>
                                            <path d="M42,30.5H32v-10c0-0.553-0.447-1-1-1s-1,0.447-1,1v10H20c-0.553,0-1,0.447-1,1s0.447,1,1,1h10v10c0,0.553,0.447,1,1,1
                                                      s1-0.447,1-1v-10h10c0.553,0,1-0.447,1-1S42.553,30.5,42,30.5z" fill="#CACACA"/>
                                        </svg>
                                        <span class="seller-text-2">{% trans 'ADD PRODUCT' %}</span>
                                    </a>
                                </div>

                            </div>
                        </div>
                    {% endif %}
                </div>
                {% if seller_products %}
                    <div class="Account-group">
                        <div class="Account-column Account-column_full">
                            <header class="Section-header">
                                <h2 class="Section-title">{% trans 'Your Product Discounts' %}</h2>
                            </header>
                        <div class="Cards Cards_account">
                            {% for product_discount in product_discounts %}
                                <div class="Card">
                                    <a class="Card-picture" href="#"><img src="{{ MEDIA_ROOT }}/uploads/{{ product_discount.image }}" alt="card.jpg"/></a>
                                    <div class="Card-content">
                                        <strong class="Card-title">{{ product_discount.name }}
                                        </strong>
                                        <div class="Card-description">
                                            <div class="Card-category">{{ product_discount.description }}</div>
                                        </div>
                                    </div>
                                    <form action="{% url 'stores-polls:delete-store-product-discount' %}" method="get">
                                        <input type="hidden" name="id" value="{{ product_discount.id }}">
                                        <button type="Submit" class="delete-btn seller-product" title="Delete this product">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                                <path d="M135.2 17.69C140.6 6.848 151.7 0 163.8 0H284.2C296.3 0 307.4 6.848 312.8 17.69L320 32H416C433.7 32 448 46.33 448 64C448 81.67 433.7 96 416 96H32C14.33 96 0 81.67 0 64C0 46.33 14.33 32 32 32H128L135.2 17.69zM31.1 128H416V448C416 483.3 387.3 512 352 512H95.1C60.65 512 31.1 483.3 31.1 448V128zM111.1 208V432C111.1 440.8 119.2 448 127.1 448C136.8 448 143.1 440.8 143.1 432V208C143.1 199.2 136.8 192 127.1 192C119.2 192 111.1 199.2 111.1 208zM207.1 208V432C207.1 440.8 215.2 448 223.1 448C232.8 448 240 440.8 240 432V208C240 199.2 232.8 192 223.1 192C215.2 192 207.1 199.2 207.1 208zM304 208V432C304 440.8 311.2 448 320 448C328.8 448 336 440.8 336 432V208C336 199.2 328.8 192 320 192C311.2 192 304 199.2 304 208z"/>
                                            </svg>
                                        </button>
                                        <a class="bth-width-store edit-seller-product" href="{% url 'stores-polls:edit-store-product-discount' product_discount.slug product_discount.id %}" title="Edit product">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                                <path d="M373.1 24.97C401.2-3.147 446.8-3.147 474.9 24.97L487 37.09C515.1 65.21 515.1 110.8 487 138.9L289.8 336.2C281.1 344.8 270.4 351.1 258.6 354.5L158.6 383.1C150.2 385.5 141.2 383.1 135 376.1C128.9 370.8 126.5 361.8 128.9 353.4L157.5 253.4C160.9 241.6 167.2 230.9 175.8 222.2L373.1 24.97zM440.1 58.91C431.6 49.54 416.4 49.54 407 58.91L377.9 88L424 134.1L453.1 104.1C462.5 95.6 462.5 80.4 453.1 71.03L440.1 58.91zM203.7 266.6L186.9 325.1L245.4 308.3C249.4 307.2 252.9 305.1 255.8 302.2L390.1 168L344 121.9L209.8 256.2C206.9 259.1 204.8 262.6 203.7 266.6zM200 64C213.3 64 224 74.75 224 88C224 101.3 213.3 112 200 112H88C65.91 112 48 129.9 48 152V424C48 446.1 65.91 464 88 464H360C382.1 464 400 446.1 400 424V312C400 298.7 410.7 288 424 288C437.3 288 448 298.7 448 312V424C448 472.6 408.6 512 360 512H88C39.4 512 0 472.6 0 424V152C0 103.4 39.4 64 88 64H200z"/>
                                            </svg>
                                        </a>
                                    </form>
                                </div>
                            {% endfor %}
                            <a href="{% url 'stores-polls:add-store-product-discount' %}" class="btn-reset seller-item Add-seller reset-margin">
                                <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                viewBox="0 0 55 55" style="enable-background:new 0 0 55 55;" xml:space="preserve">
                                    <path d="M49,8.5v-8H0v47h7v7h48v-46H49z M2,45.5v-43h45v6H7v37H2z M53,52.5H9v-5v-37h40h4V52.5z" fill="gray"/>
                                    <path d="M49,8.5v-8H0v47h7v7h48v-46H49z M2,45.5v-43h45v6H7v37H2z M53,52.5H9v-5v-37h40h4V52.5z" fill="gray"/>
                                    <path d="M42,30.5H32v-10c0-0.553-0.447-1-1-1s-1,0.447-1,1v10H20c-0.553,0-1,0.447-1,1s0.447,1,1,1h10v10c0,0.553,0.447,1,1,1
                                      s1-0.447,1-1v-10h10c0.553,0,1-0.447,1-1S42.553,30.5,42,30.5z" fill="#CACACA"/>
                                </svg>
                                <span class="seller-text-2">
                                    {% trans 'ADD PRODUCT DISCOUNT' %}
                                </span>
                            </a>
                        </div>
                        </div>
                    </div>

                    <div class="Account-group">
                        <div class="Account-column Account-column_full">
                            <header class="Section-header">
                                <h2 class="Section-title">{% trans 'Your Group Discounts' %}</h2>
                            </header>
                        <div class="Cards Cards_account">
                            {% for group_discount in group_discounts %}
                                <div class="Card">
                                    <a class="Card-picture" href="#"><img src="{{ MEDIA_ROOT }}/uploads/{{ group_discount.image }}" alt="card.jpg"/></a>
                                    <div class="Card-content">
                                        <strong class="Card-title">{{ group_discount.name }}
                                        </strong>
                                        <div class="Card-description">
                                            <div class="Card-category">{{ group_discount.description }}</div>
                                        </div>
                                    </div>
                                    <form action="{% url 'stores-polls:delete-store-group-discount' %}" method="get">
                                        <input type="hidden" name="id" value="{{ group_discount.id }}">
                                        <button type="Submit" class="delete-btn seller-product" title="Delete this product">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                                <path d="M135.2 17.69C140.6 6.848 151.7 0 163.8 0H284.2C296.3 0 307.4 6.848 312.8 17.69L320 32H416C433.7 32 448 46.33 448 64C448 81.67 433.7 96 416 96H32C14.33 96 0 81.67 0 64C0 46.33 14.33 32 32 32H128L135.2 17.69zM31.1 128H416V448C416 483.3 387.3 512 352 512H95.1C60.65 512 31.1 483.3 31.1 448V128zM111.1 208V432C111.1 440.8 119.2 448 127.1 448C136.8 448 143.1 440.8 143.1 432V208C143.1 199.2 136.8 192 127.1 192C119.2 192 111.1 199.2 111.1 208zM207.1 208V432C207.1 440.8 215.2 448 223.1 448C232.8 448 240 440.8 240 432V208C240 199.2 232.8 192 223.1 192C215.2 192 207.1 199.2 207.1 208zM304 208V432C304 440.8 311.2 448 320 448C328.8 448 336 440.8 336 432V208C336 199.2 328.8 192 320 192C311.2 192 304 199.2 304 208z"/>
                                            </svg>
                                        </button>
                                        <a class="bth-width-store edit-seller-product" href="{% url 'stores-polls:edit-store-group-discount' group_discount.slug group_discount.id %}" title="Edit product">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                                <path d="M373.1 24.97C401.2-3.147 446.8-3.147 474.9 24.97L487 37.09C515.1 65.21 515.1 110.8 487 138.9L289.8 336.2C281.1 344.8 270.4 351.1 258.6 354.5L158.6 383.1C150.2 385.5 141.2 383.1 135 376.1C128.9 370.8 126.5 361.8 128.9 353.4L157.5 253.4C160.9 241.6 167.2 230.9 175.8 222.2L373.1 24.97zM440.1 58.91C431.6 49.54 416.4 49.54 407 58.91L377.9 88L424 134.1L453.1 104.1C462.5 95.6 462.5 80.4 453.1 71.03L440.1 58.91zM203.7 266.6L186.9 325.1L245.4 308.3C249.4 307.2 252.9 305.1 255.8 302.2L390.1 168L344 121.9L209.8 256.2C206.9 259.1 204.8 262.6 203.7 266.6zM200 64C213.3 64 224 74.75 224 88C224 101.3 213.3 112 200 112H88C65.91 112 48 129.9 48 152V424C48 446.1 65.91 464 88 464H360C382.1 464 400 446.1 400 424V312C400 298.7 410.7 288 424 288C437.3 288 448 298.7 448 312V424C448 472.6 408.6 512 360 512H88C39.4 512 0 472.6 0 424V152C0 103.4 39.4 64 88 64H200z"/>
                                            </svg>
                                        </a>
                                    </form>
                                </div>
                            {% endfor %}
                            <a href="{% url 'stores-polls:add-store-group-discount' %}" class="btn-reset seller-item Add-seller reset-margin">
                                <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                viewBox="0 0 55 55" style="enable-background:new 0 0 55 55;" xml:space="preserve">
                                    <path d="M49,8.5v-8H0v47h7v7h48v-46H49z M2,45.5v-43h45v6H7v37H2z M53,52.5H9v-5v-37h40h4V52.5z" fill="gray"/>
                                    <path d="M49,8.5v-8H0v47h7v7h48v-46H49z M2,45.5v-43h45v6H7v37H2z M53,52.5H9v-5v-37h40h4V52.5z" fill="gray"/>
                                    <path d="M42,30.5H32v-10c0-0.553-0.447-1-1-1s-1,0.447-1,1v10H20c-0.553,0-1,0.447-1,1s0.447,1,1,1h10v10c0,0.553,0.447,1,1,1
                                      s1-0.447,1-1v-10h10c0.553,0,1-0.447,1-1S42.553,30.5,42,30.5z" fill="#CACACA"/>
                                </svg>
                                <span class="seller-text-2">
                                    {% trans 'ADD CATEGORY DISCOUNT' %}
                                </span>
                            </a>
                        </div>
                        </div>
                    </div>

                    <div class="Account-group">
                        <div class="Account-column Account-column_full">
                            <header class="Section-header">
                                <h2 class="Section-title">{% trans 'Your Cart Discounts' %}</h2>
                            </header>
                        <div class="Cards Cards_account">
                            {% for cart_discount in cart_discounts %}
                                <div class="Card">
                                    <a class="Card-picture" href="#"><img src="{{ MEDIA_ROOT }}/uploads/{{ cart_discount.image }}" alt="card.jpg"/></a>
                                    <div class="Card-content">
                                        <strong class="Card-title">{{ cart_discount.name }}
                                        </strong>
                                        <div class="Card-description">
                                            <div class="Card-category">{{ cart_discount.description }}</div>
                                        </div>
                                    </div>
                                    <form action="{% url 'stores-polls:delete-store-cart-discount' %}" method="get">
                                        <input type="hidden" name="id" value="{{ cart_discount.id }}">
                                        <button type="Submit" class="delete-btn seller-product" title="Delete this product">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                                <path d="M135.2 17.69C140.6 6.848 151.7 0 163.8 0H284.2C296.3 0 307.4 6.848 312.8 17.69L320 32H416C433.7 32 448 46.33 448 64C448 81.67 433.7 96 416 96H32C14.33 96 0 81.67 0 64C0 46.33 14.33 32 32 32H128L135.2 17.69zM31.1 128H416V448C416 483.3 387.3 512 352 512H95.1C60.65 512 31.1 483.3 31.1 448V128zM111.1 208V432C111.1 440.8 119.2 448 127.1 448C136.8 448 143.1 440.8 143.1 432V208C143.1 199.2 136.8 192 127.1 192C119.2 192 111.1 199.2 111.1 208zM207.1 208V432C207.1 440.8 215.2 448 223.1 448C232.8 448 240 440.8 240 432V208C240 199.2 232.8 192 223.1 192C215.2 192 207.1 199.2 207.1 208zM304 208V432C304 440.8 311.2 448 320 448C328.8 448 336 440.8 336 432V208C336 199.2 328.8 192 320 192C311.2 192 304 199.2 304 208z"/>
                                            </svg>
                                        </button>
                                        <a class="bth-width-store edit-seller-product" href="{% url 'stores-polls:edit-store-cart-discount' cart_discount.slug cart_discount.id %}" title="Edit product">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                                <path d="M373.1 24.97C401.2-3.147 446.8-3.147 474.9 24.97L487 37.09C515.1 65.21 515.1 110.8 487 138.9L289.8 336.2C281.1 344.8 270.4 351.1 258.6 354.5L158.6 383.1C150.2 385.5 141.2 383.1 135 376.1C128.9 370.8 126.5 361.8 128.9 353.4L157.5 253.4C160.9 241.6 167.2 230.9 175.8 222.2L373.1 24.97zM440.1 58.91C431.6 49.54 416.4 49.54 407 58.91L377.9 88L424 134.1L453.1 104.1C462.5 95.6 462.5 80.4 453.1 71.03L440.1 58.91zM203.7 266.6L186.9 325.1L245.4 308.3C249.4 307.2 252.9 305.1 255.8 302.2L390.1 168L344 121.9L209.8 256.2C206.9 259.1 204.8 262.6 203.7 266.6zM200 64C213.3 64 224 74.75 224 88C224 101.3 213.3 112 200 112H88C65.91 112 48 129.9 48 152V424C48 446.1 65.91 464 88 464H360C382.1 464 400 446.1 400 424V312C400 298.7 410.7 288 424 288C437.3 288 448 298.7 448 312V424C448 472.6 408.6 512 360 512H88C39.4 512 0 472.6 0 424V152C0 103.4 39.4 64 88 64H200z"/>
                                            </svg>
                                        </a>
                                    </form>
                                </div>
                            {% endfor %}
                            <a href="{% url 'stores-polls:add-store-cart-discount' %}" class="btn-reset seller-item Add-seller reset-margin">
                                <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                viewBox="0 0 55 55" style="enable-background:new 0 0 55 55;" xml:space="preserve">
                                    <path d="M49,8.5v-8H0v47h7v7h48v-46H49z M2,45.5v-43h45v6H7v37H2z M53,52.5H9v-5v-37h40h4V52.5z" fill="gray"/>
                                    <path d="M49,8.5v-8H0v47h7v7h48v-46H49z M2,45.5v-43h45v6H7v37H2z M53,52.5H9v-5v-37h40h4V52.5z" fill="gray"/>
                                    <path d="M42,30.5H32v-10c0-0.553-0.447-1-1-1s-1,0.447-1,1v10H20c-0.553,0-1,0.447-1,1s0.447,1,1,1h10v10c0,0.553,0.447,1,1,1
                                      s1-0.447,1-1v-10h10c0.553,0,1-0.447,1-1S42.553,30.5,42,30.5z" fill="#CACACA"/>
                                </svg>
                                <span class="seller-text-2">
                                    {% trans 'ADD CART DISCOUNT' %}
                                </span>
                            </a>
                        </div>
                        </div>
                    </div>
                {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
{% include 'elems/footer.html' %}
{% endblock %}