{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block title %}
{% trans 'Catalog' %}
{% endblock %}

{% block header %}
{% include 'elems/header.html' %}
{% endblock %}

{% block main %}
<div class="Middle Middle_top">
    <div class="Middle-top">
        <div class="wrap">
            <div class="Middle-header">
                    <h1 class="Middle-title">{% trans 'all stores on Megano' %}
                </h1>
                <ul class="breadcrumbs Middle-breadcrumbs">
                    <li class="breadcrumbs-item"><a href="{% url 'goods-polls:index_url' %}">{% trans 'home' %}</a>
                    </li>
                    <li class="breadcrumbs-item breadcrumbs-item_current"><span>{% trans 'stores' %}</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="Section">
      <div class="wrap">
        <div class="Cards Cards_blog">
        {% for store in page_obj %}
            <div class="Seller-wrap" style="justify-content: center;">
                <div class="store">
                    <a href="{% url 'stores-polls:store-detail' store.slug %}" class="seller-item">
                        <img src="{{store.icon_url}}" alt="store-icon" class="seller-icon">
                        <h3 class="seller-title custom_align-center">{{ store.name }}</h3>
                        <i class="fa-duotone fa-trash-slash"></i>
                    </a>
                </div>
            </div>
        {% endfor %}
        </div>
      </div>
    </div>
    <div class="Pagination">
        <div class="Pagination-ins">
            <a class="Pagination-element Pagination-element_prev" href="?page={% if page_obj.has_previous %}{{ page_obj.previous_page_number }}{% else %}{{ page_obj.number }}{% endif %}">
                <img src="{% static 'assets/img/icons/prevPagination.svg' %}" alt="prevPagination.svg"/>
            </a>
            {% if page_obj.has_previous %}
                <a class="Pagination-element" href="?page={{ page_obj.previous_page_number }}">
                    <span class="Pagination-text">{{ page_obj.previous_page_number }}</span>
                </a>
            {% endif %}
            <a class="Pagination-element Pagination-element_current" href="#">
                <span class="Pagination-text">{{ page_obj.number }}</span>
            </a>
            {% if page_obj.has_next %}
                <a class="Pagination-element" href="?page={{ page_obj.next_page_number }}">
                    <span class="Pagination-text">{{ page_obj.next_page_number }}</span>
                </a>
            {% endif %}
            <a class="Pagination-element Pagination-element_prev" href="?page={% if page_obj.has_next %}{{ page_obj.next_page_number }}{% else %}{{ page_obj.number }}{% endif %}">
                <img src="{% static 'assets/img/icons/nextPagination.svg' %}" alt="nextPagination.svg"/>
            </a>
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}
{% include 'elems/footer.html' %}
{% endblock %}