{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load account socialaccount %}
{% load goods_tags %}

{% block title %}{% trans 'All our stores' %}
{% endblock %}

{% block header %}
{% include 'elems/header.html' %}
{% endblock %}

{% block main %}
<div class="Middle Middle_top">
    <div class="Middle-top">
        <div class="wrap">
            <div class="Middle-header">
                <h1 class="Middle-title">{{ store.name }}</h1>
                <ul class="breadcrumbs Middle-breadcrumbs">
                    <li class="breadcrumbs-item"><a href="/">{% trans 'home' %}</a></li>
                    <li class="breadcrumbs-item breadcrumbs-item_current"><span>{% trans 'About Store' %}</span></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="Section Section_column Section_columnLeft Section_columnWide">
      <div class="wrap">
        <div class="Section-column">
          <div class="Section-columnSection Section-columnSection_mark">
            <div class="media media_advantage">
              <div class="media-image"><img src="{% static 'assets/img/icons/advantages/shipping.svg' %}" alt="shipping.svg">
              </div>
              <div class="media-content">
                <strong class="media-title">{% trans 'Shipping' %} &amp; {% trans 'Returns' %}</strong>
                <p class="media-text">{% trans 'World wide shipping' %}
                </p>
              </div>
            </div>
          </div>
          <div class="Section-columnSection Section-columnSection_mark">
            <div class="media media_advantage">
              <div class="media-image"><img src="{% static 'assets/img/icons/advantages/moneyBack.svg' %}" alt="moneyBack.svg">
              </div>
              <div class="media-content">
                <strong class="media-title">{% trans "Money Back" %}
                </strong>
                <p class="media-text">{% trans 'Guaranted payments' %}
                </p>
              </div>
            </div>
          </div>
          <div class="Section-columnSection Section-columnSection_mark">
            <div class="media media_advantage">
              <div class="media-image"><img src="{% static 'assets/img/icons/advantages/support.svg' %}" alt="support.svg">
              </div>
              <div class="media-content">
                <strong class="media-title">{% trans 'Support Policy' %}
                </strong>
                <p class="media-text">{% trans 'Fast support team' %}
                </p>
              </div>
            </div>
          </div>
          <div class="Section-columnSection Section-columnSection_mark">
            <div class="media media_advantage">
              <div class="media-image"><img src="{% static 'assets/img/icons/advantages/quality.svg'%}" alt="quality.svg">
              </div>
              <div class="media-content">
                <strong class="media-title">{% trans 'Quality Guarantee' %}
                </strong>
                <p class="media-text">{% trans 'Best guaranted items' %}
                </p>
              </div>
            </div>
          </div>
          <div class="Section-columnSection Section-columnSection_mark">
            <div class="media media_middle">
              <div class="media-image"><img src="{% static 'assets/img/icons/contacts/phone.svg' %}" alt="phone.svg">
              </div>
              <div class="media-content">{% trans 'Phone' %}:
                <nobr>+8 (200) 800-2000-600</nobr><br>{% trans 'Mobile' %}:
                <nobr>+8 (200) 800-2000-650</nobr>
              </div>
            </div>
          </div>
          <div class="Section-columnSection Section-columnSection_mark">
            <div class="media media_middle">
              <div class="media-image"><img src="{% static 'assets/img/icons/contacts/address.svg' %}" alt="address.svg">
              </div>
              <div class="media-content">
                Megano Business Center,
                0012 United States, Los Angeles
                Creative Street 15/4
              </div>
            </div>
          </div>
          <div class="Section-columnSection Section-columnSection_mark">
            <div class="media media_middle">
              <div class="media-image"><img src="{% static 'assets/img/icons/contacts/mail.svg' %}" alt="mail.svg">
              </div>
              <div class="media-content">{% trans 'General' %}: hello@ninzio.com<br>{% trans 'Editor' %}: editor@ninzio.com
              </div>
            </div>
          </div>
          <div class="Section-columnSection">
            <header class="Section-header">
              <strong class="Section-title">{% trans 'Follow Us' %}
              </strong>
            </header>
            <div class="Section-columnContent">
              <div class="Footer-payments Footer-payments_column">
                <div><img src="{% static 'assets/img/icons/socialContent/fb.png' %}" alt="fb.png">
                </div>
                <div><img src="{% static 'assets/img/icons/socialContent/tw.png' %}" alt="tw.png">
                </div>
                <div><img src="{% static 'assets/img/icons/socialContent/gg.png' %}" alt="gg.png">
                </div>
                <div><img src="{% static 'assets/img/icons/socialContent/in.png' %}" alt="in.png">
                </div>
                <div><img src="{% static 'assets/img/icons/socialContent/pt.png' %}" alt="pt.png">
                </div>
                <div><img src="{% static 'assets/img/icons/socialContent/ml.png' %}" alt="ml.png">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="Section-content">
          <div class="row row_verticalCenter row_maxHalf">
            <div class="row-block">
              <div class="pict"><img src="{{ store.icon_url }}" alt="store_icon">
              </div>
            </div>
            <div class="row-block">
              <h2>{% trans 'About' %} {{ store.name }}
              </h2>
                {{ store.description }}
            </div>
          </div>
          <header class="Section-header">
            <h2 class="Section-title">{% trans 'Popular Products' %}
            </h2>
          </header>
          <div class="Cards">
            {% cards products %}
          </div>
        </div>
      </div>
    </div>
</div>
{% endblock %}

{% block footer %}
{% include 'elems/footer.html' %}
{% endblock %}