{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
  {% trans 'Cart' %}
{% endblock %}

{%block header %}
  {% include 'elems/header.html' %}
{% endblock %}
{%block main %}
  <div class="Middle Middle_top">
    <div class="Middle-top">
      <div class="wrap">
        <div class="Middle-header">
          <h1 class="Middle-title">{% trans 'Cart' %}
          </h1>
          <ul class="breadcrumbs Middle-breadcrumbs">
            <li class="breadcrumbs-item"><a href="/">home</a>
            </li>
            <li class="breadcrumbs-item breadcrumbs-item_current"><span>{% trans 'Cart' %}</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="Section">
      <div class="wrap">
          {% if cart %}
              {% for item, discount in items %}
                  <form class="form Cart" action="{% url 'orders:cart_detail_post' product_id=item.seller_product.id %}" method="post">
                      <div class="Cart-product">
                        <div class="Cart-block Cart-block_row">
                          <div class="Cart-block Cart-block_pict">
                              <a class="Cart-pict" href="#">
                                  <img class="Cart-img" src="{{ item.seller_product.product.image_url }}" alt="card.jpg"/>
                              </a>
                          </div>
                          <div class="Cart-block Cart-block_info"><a class="Cart-title" href="#">{{ item.seller_product.product.name }}</a>
                            <div class="Cart-desc">{{ item.seller_product.product.description|truncatechars:30 }}
                            </div>
                          </div>
                          <div class="Cart-block Cart-block_price">
                            <div class="Cart-price Cart-price_old">{% if discount != item.seller_product.price %}{{ item.seller_product.price }}${% endif %}
                            </div>
                            <div class="Cart-price">
                                {{ discount }}$
                            </div>
                          </div>
                        </div>
                        <div class="Cart-block Cart-block_row">
                          <div class="Cart-block Cart-block_seller" style="margin-right: 10px;">
                            <select class="form-select" name="option">
                              {% for product in item.seller_product.product.seller_products.all %}
                                  <option value="{{ product.id }}" {% if product.id == item.seller_product.id %}selected="selected"{% endif %}>
                                      {{ product.seller.name }}
                                  </option>
                              {% endfor %}
                            </select>
                          </div>
                          <div class="Cart-block Cart-block_amount" style="padding-left: 5px;">
                            <div class="Cart-amount">
                              <div class="Amount">
                                <button class="Amount-remove" type="submit">
                                </button>
                                <input class="Amount-input form-input" name="amount" type="text" min="1" value="{{ item.quantity }}"/>
                                <button class="Amount-add" type="submit">
                                </button>
                              </div>
                            </div>
                          </div>
                          <div class="Cart-block Cart-block_delete"><input class="Cart-delete" type="submit" value="update"></div>
                          <div class="Cart-block Cart-block_delete"><a class="Cart-delete" href="{% url 'orders:cart_remove' item.seller_product.id %}"><img src="{% static 'assets/img/icons/card/delete.svg' %}" alt="delete.svg"/></a>
                          </div>

                        </div>
                      </div>
                      {% csrf_token %}

                  </form>
              {% endfor %}
          {% else %}
              <div class="Cart-product">
                    <div class="Cart-block Cart-block_row">
                      <div class="Cart-block Cart-block_pict"><a class="Cart-pict" href="#"><img class="Cart-img" src="{% static 'assets/img/content/home/card.jpg' %}" alt="card.jpg"/></a>
                      </div>
                    </div>
                    <div class="Cart-block Cart-block_info"><a class="Cart-title" href="#">{% trans 'No products yet' %}</a>
                    </div>
              </div>
          {% endif %}

          <div class="Cart-total">
            <div class="Cart-block Cart-block_total">
              <strong class="Cart-title">{% trans 'Total:' %}
              </strong>
                <span class="Cart-price">{{ total_discounted_price }}$</span>
                <span class="Cart-price_old">{% if total_discounted_price != total_price %}{{ total_price }}${% endif %}</span>
            </div>
            {% if request.is_authenticated %}
                <div class="Cart-block"><a class="btn btn_success btn_lg" href="{% url 'orders:order_step_one' %}">{% trans 'Check out' %}</a>
                </div>
            {% else %}
                <div class="Cart-block"><a class="btn btn_success btn_lg" href="{% url 'orders:order_step_one_anonymous' %}">{% trans 'Check out' %}</a>
                </div>
            {% endif %}
          </div>

{#        </form>#}
      </div>
    </div>
  </div>
{% endblock %}
{% block footer %}
{% include 'elems/footer.html' %}
{% endblock %}
{#{% block scripts %}#}
{#  <script src="{% static 'assets/plg/jQuery/jquery-3.5.0.slim.min.js' %}"></script>#}
{#  <script src="{% static 'assets/plg/form/jquery.form.js' %}"></script>#}
{#  <script src="{% static 'assets/plg/form/jquery.maskedinput.min.js' %}"></script>#}
{#  <script src="{% static 'assets/plg/range/ion.rangeSlider.min.js' %}"></script>#}
{#  <script src="{% static 'assets/plg/Slider/slick.min.js' %}"></script>#}
{#  <script src="{% static 'assets/js/scripts.js' %}"></script>#}
{#{% endblock %}#}
