{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
  {% trans 'Order step 1' %}
{% endblock %}

{%block header %}
  {% include 'elems/header.html' %}
{% endblock %}
{%block main %}
  <div class="Middle Middle_top">
    <div class="Middle-top">
      <div class="wrap">
        <div class="Middle-header">
          <h1 class="Middle-title">{% trans 'Order checkout' %}
          </h1>
          <ul class="breadcrumbs Middle-breadcrumbs">
            <li class="breadcrumbs-item"><a href="/">home</a>
            </li>
            <li class="breadcrumbs-item breadcrumbs-item_current"><span>{% trans 'Order checkout' %}</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="Middle Middle_top">

    <div class="Section Section_column Section_columnRight Section_columnWide Order">
      <div class="wrap">
        <div class="Section-column">
          <div class="Section-columnSection">
            <header class="Section-header">
              <strong class="Section-title">{% trans 'Overall progress' %}
              </strong>
            </header>
            <div class="Section-columnContent">
              <ul class="menu menu_vt Order-navigate">
                <li class="menu-item">
                    <a class="menu-link" href="../step1">
                        {% trans 'Step 1. User requisites' %}
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="../step2">
                        {% trans 'Step 2. Way of delivery' %}
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="../step3">
                        {% trans 'Step 3. Payment method' %}
                    </a>
                </li>
                <li class="menu-item_ACTIVE menu-item">
                    <a class="menu-link" href="../step4">
                        {% trans 'Step 4. Order confirmation' %}
                    </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="Section-content">
          <form class="form" action="{% url 'orders:order_step_one' %}" method="post">
            <div class="Order-block Order-block_OPEN" id="step4">
              <header class="Section-header Section-header_sm">
                <h2 class="Section-title">{% trans 'Step 4. Order confirmation' %}
                </h2>
              </header>
              <!--+div.Order.-confirmation-->
              <div class="Order-infoBlock">
                <div class="Order-personal">
                  <div class="row">
                    <div class="row-block">
                      <div class="Order-info">
                        <div class="Order-infoType">{% trans 'Name Lastname:' %}
                        </div>
                        <div class="Order-infoContent">{{ order.fio }}
                        </div>
                      </div>
                      <div class="Order-info">
                        <div class="Order-infoType">{% trans 'Phone:' %}
                        </div>
                        <div class="Order-infoContent">{{ order.phone }}
                        </div>
                      </div>
                      <div class="Order-info">
                        <div class="Order-infoType">{% trans 'Email:' %}
                        </div>
                        <div class="Order-infoContent">{{ order.email }}
                        </div>
                      </div>
                    </div>
                    <div class="row-block">
                      <div class="Order-info Order-info_delivery">
                        <div class="Order-infoType">{% trans 'Delivery:' %}
                        </div>
                        <div class="Order-infoContent">{{ order.get_delivery_display }}
                        </div>
                      </div>
                      <div class="Order-info">
                        <div class="Order-infoType">{% trans 'City:' %}
                        </div>
                        <div class="Order-infoContent">{{ order.city }}
                        </div>
                      </div>
                      <div class="Order-info">
                        <div class="Order-infoType">{% trans 'Address:' %}
                        </div>
                        <div class="Order-infoContent">{{ order.address }}
                        </div>
                      </div>
                      <div class="Order-info Order-info_pay">
                        <div class="Order-infoType">{% trans 'Payment:' %}
                        </div>
                        <div class="Order-infoContent">{{ order.get_payment_method_display }}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="Cart Cart_order">
                  {% for product in order.order_products.all %}
                    <div class="Cart-product">
                        <div class="Cart-block Cart-block_row">
                          <div class="Cart-block Cart-block_pict"><a class="Cart-pict" href="#"><img class="Cart-img" src="{{ product.seller_product.product.image_url }}" alt="card.jpg"/></a>
                          </div>
                          <div class="Cart-block Cart-block_info"><a class="Cart-title" href="#">{{ product.seller_product.product.name }}</a>
                            <div class="Cart-desc">{{ product.seller_product.product.description|truncatechars:30 }}
                            </div>
                          </div>
                          <div class="Cart-block Cart-block_price">
                            <div class="Cart-price_old">{{ product.seller_product.price }}$
                            </div>
                            <div class="Cart-price">{{ product.final_price }}$
                            </div>
                          </div>
                        </div>
                        <div class="Cart-block Cart-block_row">
                          <div class="Cart-block Cart-block_seller">
                            <div>{% trans 'Seller' %}
                            </div>
                            <div>{{ product.seller_product.seller.name }}
                            </div>
                          </div>
                          <div class="Cart-block Cart-block_amount">{{ product.quantity }} {% trans 'pcs' %}
                          </div>
                        </div>
                    </div>
                  {% endfor %}
                  <div class="Cart-total">
                    <div class="Cart-block Cart-block_total">
                      <strong class="Cart-title">{% trans 'Delivery:' %}
                      </strong>
                        <span class="Cart-price">{{ order.delivery_cost }}$</span>
                    </div>
                  </div>
                  <div class="Cart-total" style="border-color: transparent; padding-top: 0">
                    <div class="Cart-block Cart-block_total">
                      <strong class="Cart-title">{% trans 'Total:' %}
                      </strong>
                        <span class="Cart-price">{{ order.final_total }}$</span>
                        <span class="Cart-price_old">{{ order.total_sum }}$</span>
                    </div>
                    <div class="Cart-block">
                      <a class="btn btn_primary btn_lg" href="{% url 'orders:payment' order.id %}">
                          {% trans 'Pay' %}
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    </div>
  </div>
{% endblock %}
{% block footer %}
{% include 'elems/footer.html' %}
{% endblock %}
{% block scripts %}
  <script src="{% static 'assets/plg/jQuery/jquery-3.5.0.slim.min.js' %}"></script>
  <script src="{% static 'assets/plg/form/jquery.form.js' %}"></script>
  <script src="{% static 'assets/plg/form/jquery.maskedinput.min.js' %}"></script>
  <script src="{% static 'assets/plg/range/ion.rangeSlider.min.js' %}"></script>
  <script src="{% static 'assets/plg/Slider/slick.min.js' %}"></script>
  <script src="{% static 'assets/js/scripts.js' %}"></script>
{% endblock %}
