{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
  {% trans 'Payment' %}
{% endblock %}

{%block header %}
  {% include 'elems/header.html' %}
{% endblock %}
{%block main %}
  <div class="Middle Middle_top">
    <div class="Middle-top">
      <div class="wrap">
        <div class="Middle-header">
          <h1 class="Middle-title">{% trans 'Payment' %}
          </h1>
          <ul class="breadcrumbs Middle-breadcrumbs">
            <li class="breadcrumbs-item"><a href="/">home</a>
            </li>
            <li class="breadcrumbs-item breadcrumbs-item_current"><span>{% trans 'Payment' %}</span>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="Section">
      <div class="wrap">
          {% if order and order.in_order %}
            {% if not order.paid %}
                <div class="Cart-total">
                    <div class="Cart-block Cart-block_total">
                      <strong class="Cart-title">{% trans 'Order Nr:' %}
                      </strong>
                      <span class="Cart-price">{{ order.id }}</span>
                    </div>
                </div>
                <div class="Cart-total">
                    <div class="Cart-block Cart-block_total">
                        <strong class="Cart-title">{% trans 'Total:' %}
                        </strong>
                        <span class="Cart-price">{{ order.final_total }}$</span>
                  </div>
                </div>
                <form action="" id="payment" class="form Payment" method="post">
                  <div class="Payment-card">
                    <div class="form-group">
                      <label class="form-label">Card Number</label>
                      <div id="card-number" class="form-input Payment-bill" style="height: 50px;"></div>

                      <label class="form-label">CVV</label>
                      <div id="cvv" class="form-input Payment-bill" style="height: 50px;"></div>

                      <label class="form-label">Expiration Date</label>
                      <div id="expiration-date" class="form-input Payment-bill" style="height: 50px;"></div>
                      <input type="hidden" id="nonce" name="payment_method_nonce" value="">
                      {% csrf_token %}
                      <div class="Payment-pay">
                        <input
                                style="border-radius: 100px;
                                font-size: 16px;
                                color: #fff;
                                background: #0063d1;
                                max-width: 150px;"
                                type="submit" value="{% trans 'Pay now' %}">
                        </div>
                    </div>
                  </div>
                </form>
                <!—Подключаем клиента Braintree. -->
                <script src="https://js.braintreegateway.com/web/3.29.0/js/client.min.js"></script>
                <!—Подключаем компонент Hosted Fields. -->
                <script src="https://js.braintreegateway.com/web/3.29.0/js/hosted-fields.min.js"></script>
                <script>
                    var form = document.querySelector('#payment');
                    var submit = document.querySelector('input[type="submit"]');

                    braintree.client.create({
                        authorization: '{{ client_token }}'
                    }, function (clientErr, clientInstance) {
                        if (clientErr) {
                            console.error(clientErr);
                            return;
                        }

                    braintree.hostedFields.create({
                        client: clientInstance,
                        styles: {
                            'input': {'font-size': '13px'},
                            'input.invalid': {'color': 'red'},
                            'input.valid': {'color': 'green'}
                        },
                        fields: {
                            number: {selector: '#card-number'},
                            cvv: {selector: '#cvv'},
                            expirationDate: {selector: '#expiration-date'}
                        }
                    }, function (hostedFieldsErr, hostedFieldsInstance) {
                        if (hostedFieldsErr) {
                            console.error(hostedFieldsErr);
                            return;
                        }
                        submit.removeAttribute('disabled');
                        form.addEventListener('submit', function (event) {
                            event.preventDefault();
                            hostedFieldsInstance.tokenize(function (tokenizeErr, payload) {
                                if (tokenizeErr) {
                                    console.error(tokenizeErr);
                                    return;
                                }
                                // Задаем значение поля для отправки токена на сервер.
                                document.getElementById('nonce').value = payload.nonce;
                                // Отправляем форму на сервер.
                                document.getElementById('payment').submit();
                            });
                        }, false);
                    });});
                </script>
            {% else %}
                <div class="ProgressPayment">
                  <div class="ProgressPayment-title">{% trans 'This order has been already paid' %}
                  </div>
                </div>
                <br>
                <br>
                <br>
                <br>
                <br>
            {% endif %}
          {% else %}
            <div class="ProgressPayment">
                  <div class="ProgressPayment-title">{% trans 'No order with this number' %}
                  </div>
            </div>
            <br>
            <br>
            <br>
            <br>
            <br>
          {% endif %}
      </div>
    </div>

  </div>
{% endblock %}
{% block footer %}
{% include 'elems/footer.html' %}
{% endblock %}
{% block scripts %}
  <script src="{% static 'assets/plg/jQuery/jquery-3.5.0.slim.min.js' %}"></script>
  <script src="{% static 'assets/plg/form/jquery.form.js' %}"></script>
  <script src="{% static 'assets/plg/form/jquery.maskedinput.min.js' %}"></script>
  <script src="{% static 'assets/plg/range/ion.rangeSlider.min.js' %}"></script>
  <script src="{% static 'assets/plg/Slider/slick.min.js' %}"></script>
  <script src="{% static 'assets/js/scripts.js' %}"></script>
{% endblock %}
